<div class="custom-modal-container-sec">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><?php echo isset($data['heading']) ? trim($data['heading']) : "Add";?></h4>
    </div>
    <div class="modal-body" id="ModalBodySec">
        <button class="btn btn-outline btn-lg btn-block" type="button" id="ModalNotify" style="display:none;"></button>
        <div class="modal-form-section">
            <div class="row">
                <div class="col-md-7 col-md-offset-2">
                    <?php echo $this->Form->create('',['type' => 'file',"name"=>"addform","id"=>"addform","role"=>"form"]) ?>

                     <div class="form-group">
                     <label>Select Venue</label>
                     <?php echo $this->Form->select('venue_id',$venuedata,['empty' => '---Select---','class'=>'form-control required','autofocus','id'=>'venue_id']); ?>
                     </div>     
                     <div class="form-group">
                     <?php echo $this->Form->button(__('Save'),["class"=>"btn btn-primary btn-bg-change"]) ?>
                     </div>
                     <?php echo $this->Form->end(); ?>
                </div>
            </div>						
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $("#addform").validate({
        rules: {                  
           
               },
                submitHandler:function(form) {
                $('button').prop('disabled',true);
                $.post('<?php echo $this->Url->build('/Users/isEmailidExixts')?>',{'email':$('#email').val()},function(rtn_data) {
                var rtn_data_arr=JSON.parse(rtn_data);
                if(rtn_data_arr.status!==undefined && rtn_data_arr.status===false){
                    $('#emailERROR').remove();
                    $('#email').after('<label for="Code" generated="true" class="error" id="emailERROR">'+rtn_data_arr.msg+'</label>');
                    $('button').prop('disabled',false);
                } else {
                     form.submit();
                }
            });
        }
        
                  

    });
});
</script>
<script>
$(document).ready(function(){

    $(".number_field").keyup(function() {
    var newval = $(this).val();    
    $(this).val(newval.replace(/[^0-9'\s]/gi, ''));                
    });

});
</script>