@media (max-width: 1100px) {
.join_container{padding:18px;}
}
@media (max-width: 990px) {
.carousel-control.left{display: none;}
.carousel-control.right{display: none;}
.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav > li > a{font-size: 11px;}
.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav > li{padding: 0px 5px;}
.colright_panel{margin-bottom: 30px;}
.feature_categories .thumbnail .thum_one img{width: 100%;}
.left_img_section{text-align: center;}
}
@media (min-width: 767px) {
.join_btn_wr .join_container{display: none;}
.top_container .right_menu_section .bottom_section .right_tr .btn_login{display: none;}
.work_container h2.collapsed{text-align: center; color: #000000; font-weight: 600; font-family: 'Open Sans', sans-serif; margin: 0px; padding:0px; padding-bottom: 15px; margin-bottom: 0px; background: url(../images/border-b.png) center bottom no-repeat;}
.work_container .collapse{display: block;}
.contact_container .leftonec > p > i{display: none;}
.contact_container .leftoned > p > i{display: none;}
.contact_container .leftonee > p > i{display: none;}
}
@media (max-width: 767px) {
.carousel-control.left{display: none;}
.carousel-control.right{display: none;}
.row_p{margin: 0px;}
.banner_container .position_ab{bottom: auto; top: 0px; padding-top: 15px; background:#f8f8f8;}
.banner_container .carousel-inner{margin-top: 160px;}
.banner_container .carousel{position: static;}
.banner_container .position_ab .search_container .colno{padding: 0px 15px;}
.banner_container .position_ab .search_container .join_container{display: none;}
.banner_container .position_ab .search_container .colinput .form-group .form-control{height: 38px;}
.banner_container .position_ab .search_container .colinput .form-group .border-left{border-left: none; border-top: 1px solid #dadada;}
.banner_container .position_ab .search_container .colinput{margin-bottom: 10px;}
.banner_container .position_ab .search_container .colinput{padding: 1px;}
.banner_container .position_ab .search_container .colinput::after{display: none;}
.banner_container .item img{max-height: 100%;}
.banner_container .position_ab .search_container .form-group .btn-tradie{padding: 12px 12px 10px; width: 90%; float: none;}
.navbar-toggle{margin-right: 0px; border-radius:0px; border-color: #C39519;}
.navbar-default .navbar-toggle{ border-color: #C39519; margin-bottom: 0px;}
.navbar-default .navbar-toggle .icon-bar{background-color: #C39519;}
.top_container .right_menu_section{float: left; width: 100%;}
.right_menu{float: left; width: 100%;}
.navbar-nav{margin: 0px;}
.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav > li > a{padding: 10px 0px; font-size: 13px;}

.navbar-form{box-shadow: 0px 0px 0px #fff; margin: 0px; border: none;}
.top_container .logo_inner{text-align: left; padding-bottom: 10px;}
.top_container .right_menu_section .bottom_section .navbar-default{min-height: 0px;}
.top_container .right_menu_section .top_section{float: none; display: table; margin:auto;}
.right_form h2{margin-top: 30px; float: none;}
.ads_container .ad_left{margin-bottom: 15px;}
.footer_nav ul li{margin-bottom: 10px;}
.join_container .join_inner .join_btn{border-radius: 20px 0px 0px 20px; width: 140px; margin: 0px; float: left; font-size: 14px; padding: 4px 10px; border: none; box-shadow: 0px 0px 0px #213dc6;}
.join_container .join_inner .post_btn{border-radius: 0px 20px 20px 0px; width: 140px; margin: 0px; float: left; font-size: 14px; padding: 4px 10px; border: none; box-shadow: 0px 0px 0px #ffb500;}
.join_btn_wr .join_container{padding: 20px 0px;}
.top_container .right_menu_section .top_section{display: none;}
.top_container .right_menu_section .bottom_section .navbar-left .btn_login{display: none;}
.right_tr{float: right; margin-top: -54px;}
.right_tr .navbar-toggle{float: left; margin-top: 0px; margin-right: 10px; border-radius:50%; border-color: #19309b; padding: 9.4px 8px;}
.navbar-default .navbar-toggle .icon-bar{background-color: #19309b;}
.navbar-toggle .icon-bar{width: 18px;}
.right_tr .btn_login{float: right;}
.top_container .right_menu_section .bottom_section .right_tr .btn_login{font-size: 15px; padding: 7px 13px;}
.banner_container .position_ab .search_container{text-align: center;}
.top_container .nav > li > a:hover::before, .top_container .nav > li.active a:before {display: none;}
.top_container .nav > li > a:hover::after, .top_container .nav > li.active a:after {display: none;}
.top_container .nav > li > a:hover::after, .top_container .nav > li.active a:after {display: none;}
.top_container .nav > li > a{border-bottom: 1px solid #fff;}
.top_container .nav > li > a:hover{border-bottom: 1px solid #19309b;}
.top_container .nav > li > a:hover::before, .top_container .nav > li.active a{border-bottom: 1px solid #19309b;}
.top_container .right_menu_section .bottom_section .navbar-default .navbar-collapse{padding: 0px;}
.work_container{padding-top: 15px;}
.work_container h2.collapsed{background: none; margin-bottom: 0px;}
.work_container h2{cursor: pointer; font-size: 24px;}
.work_container h2:after{content: "\e026"; font-family: 'Glyphicons Halflings'; color: #000; float: right; font-family: 'Glyphicons Halflings'; margin-top: 4px; font-weight: normal; position: absolute; right: 10px;}
.work_container .article .media .media-right, .media > .pull-right{display: none;}
.work_container .article .media .media-left, .media > .pull-left{display: none;}
.work_container .article{padding-bottom: 6px; margin-bottom: 0px;}
.work_container .article .media .media-body h1{margin-top: 0px; text-align: center; font-size: 54px;}
.work_container .article .media .media-body .media-heading{text-align: center; font-size: 15px;}
.work_container .article .media .media-body p{text-align: center; font-size: 13px;}
.work_container .article .media .media-body .media-heading::after{right: 0px; left: 0px; margin: auto;}
.work_container .article{margin-top: 13px;}
.feature_categories .thumbnail .thum_one img{display: none;}
.feature_categories .colgallery_inner .caption{position: static; border-radius: 2px; padding: 10px 0px;}
.feature_categories .thumbnail .thum_one{height: auto;}
.feature_categories .colgallery_inner{margin-bottom: 2px;}
.feature_categories .colgallery_inner .caption{-webkit-transition: 0.4s ease-in-out; -moz-transition: 0.4s ease-in-out; -ms-transition: 0.4s ease-in-out; -o-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out;}
.colmargin{margin-bottom: 30px;}
.feature_categories .colgallery_inner:hover{box-shadow: 0 0px 1px #989898;}
.left_img_section{display: none;}
.rightsection a{margin-bottom: 10px; background: none; color: #2d2d2d;}
.feature_categories{padding-top: 20px; padding-bottom: 0px;}
.feature_categories h2{background: none; padding-bottom: 0px;}
.viewall_container{padding-top: 25px;}
.rightsection h2{background: none; padding-bottom: 0px; text-align: center;}
.chooseus_container{padding:15px 0 24px;}
.rightsection{text-align: center;}
.rightsection ul li{text-align: left; width: 50%;}
.rightsection a{float: none;}
.media-body, .media-left, .media-right{float: left; width: auto; margin: auto;}
.testimonial_container .owl-carousel .col_testimonial .media-left, .media > .pull-left{text-align: center; border-right:none; border-bottom: 4px solid #c48b00; padding-right: 0px; float: none; padding-bottom: 20px; margin-bottom: 20px;}
.testimonial_container .media-body, .media-left, .media-right{display: table;}
.testimonial_container .owl-carousel{padding-top: 0px;}
.testimonial_container .owl-carousel .col_testimonial .media-body p{text-align: center;}
.testimonial_container .owl-carousel .col_testimonial .media-body p.author a{text-align: center; width: 100%; padding-right: 0px; float: left; padding-bottom: 10px;}
.testimonial_container .owl-carousel .col_testimonial .media-body p.author span{text-align: center; width: 100%;}
.testimonial_container .span12 h2{background: none; padding-bottom: 0px;}
.testimonial_container{padding: 24px 0px;}
.testimonial_container .owl-theme .owl-controls{margin-top: 15px;}
.contact_container .leftonec{margin-bottom: 4px;}
.contact_container .leftonec h3{display: none;}
.contact_container .leftonec p > i{margin-left: -15px; padding-right: 3px; font-size: 15px;}
.contact_container .leftonec p{padding-left: 10px;}
.contact_container .leftoned{margin-bottom: 4px;}
.contact_container .leftoned h3{display: none;}
.contact_container .leftoned p > i{margin-left: -15px; padding-right: 3px; font-size: 15px;}
.contact_container .leftoned p{padding-left: 10px;}
.contact_container .leftoned{margin-bottom: 4px;}
.contact_container .leftoned h3{display: none;}
.contact_container .leftonee{margin-bottom: 4px;}
.contact_container .leftonee h3{display: none;}
.contact_container .leftonee p > i{margin-left: -15px; padding-right: 3px; font-size: 15px;}
.contact_container .leftonee p{padding-left: 0px;}
.contact_container .leftonec p{font-weight: 600;}
.contact_container .leftoned p a{font-weight: 600;}
.contact_container .leftonee p a{font-weight: 600;}
.contact_container{padding: 15px 0px;}
.right_form h2{background: none; padding-bottom: 0px;}
.right_form .form-group .btn-submit{background: #fff; border-color: #2d2d2d; color: #2d2d2d; }
.right_form{text-align: center;}
.ads_container{display: none;}
.footer_nav ul li{margin-bottom: 6px; line-height: 8px;}
.footer_nav ul li a{font-size: 12px;}
.login_popup .modal-dialog{margin: 133px auto;}
    
    .acc-page-form {
        margin-bottom: 30px;
    }
    
    .products-list-wrapper .col-lg-3.list-view .image-wrapper {
        width: 100%;
        float: left;
    }
    .goto-bottom{
        display: none;
    }
    .join_container{
        display: none;
    }
    
    .join_container.mobile{
        display: block;
    }
    
    .logo_inner img{
        width: 132px;
        height: auto;
        
    }
    .mobile-login{
        display: block;
    }
    .navbar-toggle{
        display: block;
    }
    
    .work_container h2{
        background: none;
    }
    .work_container .item-wrapper{
        display: none;
    }
    .viewall_container a{
        margin-bottom: 20px;
    }
    
    .feature_categories .colgallery_inner .caption span{
        font-weight: 600;
    }
    .top_container .right_menu_section .bottom_section .navbar-default .dropdown-menu{
        box-shadow: none;
    }
    
    .navbar.navbar-default li a{
        border-bottom: 1px solid #e7e7e7 !important;
        
    }
    .top_container .right_menu_section .bottom_section .navbar-default .navbar-nav{
        padding-top: 0;
    }
    
    .dropdown-menu {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .navbar.navbar-default a{
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }
    
    .work_container .slide-toggle-btn{
        font-size: 20px;
    }
    .work_container{
        padding-top: 10px !important;
    }
    .work_container h2{
        padding-bottom: 10px;
    }
    .feature_categories{
        padding-top: 10px;
    }
    
    .feature_categories h2{
        margin-bottom: 10px;
        font-size: 20px;
    }
    .feature_categories .colgallery_inner .caption{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .feature_categories .colgallery_inner .caption span{
        font-size: 15px;
    }
    
    .viewall_container{
        padding-top: 10px;
    }
    
    .viewall_container a{
        margin-bottom: 10px;
    }
    .colright_panel .coltop_heading{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .work_container .article .media .media-body h1{
        font-size: 40px;
    }
    
    .chooseus_container{
        
    }
    .rightsection h2{
        font-size: 20px;
    }
    
    .rightsection ul li span{
        font-size: 15px;
    }
    .rightsection ul li i{
        font-size: 14px;
    }
    .testimonial_container .span12 h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .top_container{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .banner_container .position_ab .search_container .colinput .form-group .form-control{
        height: 30px;
    }
    .banner_container .position_ab .search_container .form-group .btn-tradie{
        padding: 9px 12px;
        font-size: 12px;
    }
    .join_container .join_inner .join_btn{
        font-size: 13px;
    }
    .join_container .join_inner .post_btn{
        font-size: 13px;
    }
    .colright_panel .colbottomP .panel_article h3 a{
        font-size: 14px;
    } 
    
    .owl-theme .owl-controls .owl-page span{
        width: 10px;
        height: 10px;
        
    }
    
}



@media (max-width: 620px) {
    .rightsection ul li{width: 100%;}

}
@media (max-width: 470px) {
.top_container .right_menu_section .top_section .left2 a{padding-left: 0px; padding-right: 15px;}
.colgallery{width: 100%;}
}
@media (max-width: 400px) {
.login_popup .modal-dialog{width: auto;}
}