body{font-family: 'Open Sans', sans-serif;}
.top_container{background: #fff; padding: 15px 0px; border-top: 3px solid #e9a500;}
.top_container .logo_inner{float: left; width: 100%;}
.top_container .logo_inner img{max-width: 100%;}
.top_container .right_menu_section{float: right;}
.top_container .right_menu_section .top_section{float: right;}
.top_container .right_menu_section .top_section .left1{float: left; padding-right: 15px;}
.top_container .right_menu_section .top_section .left1 span{font-family: 'Open Sans', sans-serif; color: #213dc6; font-size: 13px; font-weight: 600; text-align: left; line-height: 20px; padding-right: 7px;}
.top_container .right_menu_section .top_section .left1 a{font-family: 'Open Sans', sans-serif; color: #454545; font-size: 13px; font-weight: 600; text-align: left; line-height: 20px; text-decoration: none;}
.top_container .right_menu_section .top_section .left2{float: left;}
.top_container .right_menu_section .top_section .left2 a{text-decoration: none; float: left; color: #bebebe; padding-left: 15px; -webkit-transition: 0.4s ease-in-out; -moz-transition: 0.4s ease-in-out; -ms-transition: 0.4s ease-in-out; -o-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out;}
.top_container .right_menu_section .top_section .left2 a:hover{color: #213dc6;}
.top_container .right_menu_section .bottom_section{float: right; width: 100%;}
.top_container .right_menu_section .bottom_section .navbar-default{background: #fff; border:none; margin-bottom: 0px;}
.top_container .right_menu_section .bottom_section .navbar-default .navbar-collapse{padding: 6px 0px;}
.top_container .right_menu_section .bottom_section .navbar-default .navbar-form{padding: 0px;}
.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{background: none; color: #19309b;}
.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav>li>a{font-family: 'Open Sans', sans-serif; color: #454545; font-size: 12px; font-weight: 600; text-transform: uppercase; padding: 0px 15px;}
.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav{padding-top: 15px;}
.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background: none;}
.top_container .right_menu_section .bottom_section .navbar-default .dropdown-menu{border-radius: 0px; border: none; box-shadow: 0 0px 5px rgba(0,0,0,.175); -webkit-box-shadow: 0 0px 5px rgba(0,0,0,.175);}
.top_container .right_menu_section .bottom_section .btn_login{background: #19309b; text-align: center; color: #fff; text-decoration: none; font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight:500; text-transform: uppercase; padding:7px 20px; border-radius: 20px; display: block;}
.top_container .right_menu_section .bottom_section .caret{color: #cacaca;}

.banner_container{padding: 0px; position: relative;}
.banner_container .position_ab {position: absolute; width: 100%; left: 0px; bottom: 50%;}
.banner_container .position_ab .search_container {width: 100%; float: left;}
.banner_container .position_ab .search_container .colno{padding: 0px;}
.banner_container .position_ab .search_container .colinput{background: #fff; padding:17px 0px; float: left; width: 100%; border-radius: 3px; position: relative; box-shadow: 4px 5px 4px rgba(21, 21, 21, 0.30);}
.banner_container .position_ab .search_container .colinput:after{border: 9px solid transparent; border-left-color: #fff; right:-18px; top: 13px; position: absolute; margin-top: 6px; content: "";}
.banner_container .position_ab .search_container .colinput .form-group{margin-bottom: 0px;}
.banner_container .position_ab .search_container .colinput .form-group .form-control{background: #fff; border:none; border-radius:0px; height: 20px; box-shadow: 0px 0px 0px #fff; padding: 4px 20px; font-family: 'Open Sans', sans-serif; font-size: 13px; color: #515151; line-height: 20px; font-weight: 600;}
.banner_container .position_ab .search_container .colinput .form-group .border-left{border-left: 1px solid #dadada;}
.banner_container .position_ab .search_container .colinput .form-group .form-control::-moz-placeholder {color: #515151; opacity: 1;}
.banner_container .position_ab .search_container .colinput .form-group .form-control:-ms-input-placeholder {color: #515151;}
.banner_container .position_ab .search_container .colinput .form-group .form-control::-webkit-input-placeholder {color: #515151;}
.banner_container .position_ab .search_container .colinput .form-group .form-control::-ms-expand {background-color: transparent; border: 0;}
.banner_container .position_ab .search_container .form-group .btn-tradie{background: #242424; width: 100%; float: left; color: #fff; font-family: 'Open Sans', sans-serif; text-align: center; font-size: 14px; font-weight: 600; text-transform: uppercase; padding:19px 12px 16px 12px; border-radius:3px; border:none; outline: none; box-shadow: 4px 5px 4px rgba(21, 21, 21, 0.30);}
.banner_container .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{color: #716c6b; }
.banner_container .carousel-control .glyphicon-chevron-left{font-size: 0px;}
.banner_container .carousel-control .glyphicon-chevron-left:after{content: "\e257"; font-size: 48px; font-family: 'Glyphicons Halflings';}
.banner_container .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{color: #716c6b; font-size: 0px;}
.banner_container .carousel-control .glyphicon-chevron-right{font-size: 0px;}
.banner_container .carousel-control .glyphicon-chevron-right:after{content: "\e258"; font-size: 48px; font-family: 'Glyphicons Halflings';}
.carousel-control.left{background: none;}
.carousel-control.right{background: none;}

.work_container{padding:50px 0px 0px 0px; background: #e9a500;}
.work_container h2{text-align: center; color: #000000; font-weight: 600; font-family: 'Open Sans', sans-serif; margin: 0px; padding:0px; padding-bottom: 22px; margin-bottom: 20px; background: url(../images/border-b.png) center bottom no-repeat;}
.work_container .article{float: left; width: 100%; border-bottom: 1px solid #d39500; padding-bottom: 30px; margin-bottom: 30px;}
.work_container .article .media img{height: 270px; width: 270px; border-radius:50%; padding:4px; border:2px dashed #000; -webkit-transition: 0.4s ease-in-out; -moz-transition: 0.9s ease-in-out; -ms-transition: 0.9s ease-in-out; -o-transition: 0.9s ease-in-out; transition: 0.9s ease-in-out;}
.work_container .article .media img:hover{border:2px dotted #000;}
.work_container .article .media .media-body p{font-family: 'Open Sans', sans-serif; text-align: left; color: #000000; font-weight: 500; line-height: 20px;}
.work_container .article .media .media-body .media-heading{color: #000; font-family: 'Open Sans', sans-serif; text-transform: uppercase; font-weight: 700; font-size: 20px; margin-bottom:18px; position: relative;}
.work_container .article .media .media-body .media-heading:after{position: absolute; left: 0px; top: 115%; content: ""; display: block; border-bottom: 1px solid #9b6e00; width: 80px;}
.work_container .article .media .media-body h1{color: #000; font-family: 'Open Sans', sans-serif; text-transform: uppercase; font-weight: 700; font-size: 65px;}
.work_container .article .media .media-right, .media>.pull-right {padding-left: 60px;}
.work_container .article .media .media-left, .media>.pull-left {padding-right: 60px;}
.work_container .article .media .media-body-right h1{text-align: right;}
.work_container .article .media .media-body-right .media-heading{text-align: right;}
.work_container .article .media .media-body-right .media-heading:after{right: 0px; left: auto; top: 125%;}
.work_container .article .media .media-body-right p{text-align: right;}
.work_container .article:last-child{border-bottom: none;}

.feature_categories{padding:40px 0px; background: #fff;}
.feature_categories h2{text-align: center; color: #e9a500; font-size: 23px; font-weight: 600; font-family: 'Open Sans', sans-serif; margin: 0px; padding:0px; padding-bottom: 23px; margin-bottom: 20px; background: url(../images/border-c.png) center bottom no-repeat;}
.feature_categories .colgallery_inner{padding:0px; position: relative; margin-bottom: 30px; border-radius: 0px; border: none; -webkit-transition: 0.4s ease-in-out; -moz-transition: 0.4s ease-in-out; -ms-transition: 0.4s ease-in-out; -o-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out;}
.feature_categories  .thumbnail .thum_one {height: 166px; overflow: hidden;}
.feature_categories .colgallery_inner .caption{position: absolute; left: 0px; top: 0px; padding: 15px 10px; background: rgba(243, 243, 243, 0.78); text-align: center; width: 100%; -webkit-transition: 0.4s ease-in-out; -moz-transition: 0.4s ease-in-out; -ms-transition: 0.4s ease-in-out; -o-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out;}
.feature_categories .colgallery_inner .caption span{color: #132ba3; text-align: center; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 500; -webkit-animation-direction: alternate;  -webkit-transition: 0.4s ease-in-out; -moz-transition: 0.4s ease-in-out; -ms-transition: 0.4s ease-in-out; -o-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out;}
.feature_categories .colgallery_inner:hover{box-shadow:0px 4px 15px #989898; z-index: 99;}
.feature_categories .colgallery_inner:hover .caption{background: rgba(244, 174, 9, 0.64); top: 100%;}
.feature_categories .colgallery_inner:hover .caption span{color: #2a2a2a;}

.colright_panel{float: left; width: 100%;}
.colright_panel .coltop_heading{float: left; width: 100%; background: #f4ae09; text-align: left; color: #fff; font-weight: 600; font-size: 16px; padding:15px;}
.colright_panel .colbottomP{float: left; width: 100%; background: #f3f3f3; padding:0px; height: 410px;}
.colright_panel .colbottomP ul{margin: 0px; padding:0px; width: 100%; float: left;}
.colright_panel .colbottomP ul li{list-style: none; float: left; width: 100%; padding:0px 15px;}
.colright_panel .colbottomP .panel_article{float: left; width: 100%; border-bottom: 1px solid #e0e0e0; margin-bottom: 0px;}
.colright_panel .colbottomP .panel_article h3{margin: 0px; padding-bottom: 5px;}
.colright_panel .colbottomP .panel_article h3 a{color: #1e1e1e; text-decoration: none; font-family: 'Open Sans', sans-serif; text-align: left; font-weight: 700; line-height: 16px; font-size: 15px;}
.colright_panel .colbottomP .panel_article p{color: #434343; font-family: 'Open Sans', sans-serif; text-align: left; font-weight: 500; line-height: 20px; font-size: 13px;}
.viewall_container{float: left; width: 100%; text-align: center;}
.viewall_container a{font-family: 'Open Sans', sans-serif; text-align: center; color: #2d2d2d; font-weight: 500; text-decoration: none; padding:7px 30px; border:1px solid #2d2d2d; border-radius: 20px;  -webkit-transition: 0.4s ease-in-out; -moz-transition: 0.4s ease-in-out; -ms-transition: 0.4s ease-in-out; -o-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out; position: relative;}
.viewall_container a:hover{background: #2d2d2d; color: #fff;}

.chooseus_container{padding:40px 0px 0px 0px; background: #e9a500;}
.left_img_section{float: left; width: 100%;}
.left_img_section img {max-width: 100%;}
.rightsection{float: left; width: 100%;}
.rightsection h2{text-align: left; color: #232323; font-size: 23px; font-weight: 600; font-family: 'Open Sans', sans-serif; margin: 0px; padding:0px; padding-bottom: 23px; margin-bottom: 20px; background: url(../images/border-d.png) 20px bottom no-repeat;}
.rightsection ul{margin: 0px; padding:0px; padding-top: 6px; padding-bottom: 6px; float: left; width: 100%;}
.rightsection ul li{float: left; width: 100%; list-style: none; margin-bottom: 20px;}
.rightsection ul li span{ font-family: 'Open Sans', sans-serif; font-size: 17px; color: #fff; font-weight: 600; line-height:18px; padding-left: 15px;}
.rightsection ul li i{border-radius: 2px; border:1px solid #fff; padding:1px 4px; color: #fff; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 600; font-style: normal;}
.rightsection a{font-family: 'Open Sans', sans-serif; text-align: center; background: #2d2d2d; float: left; color: #fff; font-weight: 500; text-decoration: none; padding:7px 30px; border:1px solid #2d2d2d; border-radius: 20px;  -webkit-transition: 0.4s ease-in-out; -moz-transition: 0.4s ease-in-out; -ms-transition: 0.4s ease-in-out; -o-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out; position: relative;}
.rightsection a:hover{background: none; color: #2d2d2d;}

.testimonial_container{padding: 40px 0px; background: #f3f3f3;}
#owl-demo .item{margin: 15px;}
.testimonial_container .span12 h2{text-align: center; color: #232323; font-size: 23px; font-weight: 600; font-family: 'Open Sans', sans-serif; margin: 0px; padding:0px; padding-bottom: 23px; margin-bottom: 20px; background: url(../images/border-e.png) center bottom no-repeat;}
.testimonial_container .owl-carousel{padding-top: 30px;} 
.testimonial_container .owl-carousel .col_testimonial{float: left; width: 100%;}
.testimonial_container .owl-carousel .col_testimonial .media .media-left img{height: 70px; width: 70px; border-radius: 50%;}
.testimonial_container .owl-carousel .col_testimonial .media-left, .media>.pull-left{border-right:4px solid #c48b00;}
.testimonial_container .owl-carousel .col_testimonial .media-body{padding-left: 10px;}
.testimonial_container .owl-carousel .col_testimonial .media-body p{font-family: 'Open Sans', sans-serif; text-align: left; color: #131313; font-weight: 500; font-style: 13px; line-height: 18px;}
.testimonial_container .owl-carousel .col_testimonial .media-body p.author{margin: 0px;}
.testimonial_container .owl-carousel .col_testimonial .media-body p.author a{margin-bottom: 0px; font-family: 'Open Sans', sans-serif; text-align: left; color: #000fff; text-decoration: none; font-weight: 500; font-style: 14px; line-height: 18px; padding-right: 15px;}
.testimonial_container .owl-carousel .col_testimonial .media-body p.author span{margin-bottom: 0px; font-family: 'Open Sans', sans-serif; text-align: left; color: #1a1a1a; text-decoration: none; font-weight: 500; font-style: 12px; line-height: 18px;}
.testimonial_container .owl-theme .owl-controls .owl-page span{background: #2a2a2a;}
.testimonial_container .owl-theme .owl-controls{margin-top: 55px;}

.contact_container{padding:40px 0px; background: #fff;}
.contact_container .leftonec{float: left; width: 100%; margin-bottom: 20px;}
.contact_container .leftonec h3{text-align: left; color: #222222; font-size: 16px; font-weight: 600; font-family: 'Open Sans', sans-serif; margin: 0px; padding-bottom: 5px;}
.contact_container .leftonec h3 i{padding-right: 4px;}
.contact_container .leftonec p{text-align: left; color: #5e5e5e; font-size: 13px; font-weight: 500; font-family: 'Open Sans', sans-serif;}
.contact_container .leftoned{float: left; width: 100%; margin-bottom: 20px;}
.contact_container .leftoned h3{text-align: left; color: #222222; font-size: 16px; font-weight: 600; font-family: 'Open Sans', sans-serif; margin: 0px; padding-bottom: 5px;}
.contact_container .leftoned h3 i{padding-right: 4px;}
.contact_container .leftoned p a{text-align: left; color: #5e5e5e; text-decoration: none; font-size: 13px; font-weight: 500; font-family: 'Open Sans', sans-serif;}
.contact_container .leftonee{float: left; width: 100%; margin-bottom: 0px;}
.contact_container .leftonee h3{text-align: left; color: #222222; font-size: 16px; font-weight: 600; font-family: 'Open Sans', sans-serif; margin: 0px; padding-bottom: 10px;}
.contact_container .leftonee h3 i{padding-right: 4px;}
.contact_container .leftonee p a{text-align: left; color: #5e5e5e; text-decoration: none; font-size: 13px; font-weight: 500; font-family: 'Open Sans', sans-serif; -webkit-transition: 0.4s ease-in-out; -moz-transition: 0.4s ease-in-out; -ms-transition: 0.4s ease-in-out; -o-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out;}
.contact_container .leftonee p a.facebook{background: #3b5998; color: #fff; text-decoration: none; height: 30px; width: 30px; border-radius:50%; float: left; line-height: 30px; text-align: center; margin-right: 10px;}
.contact_container .leftonee p a.twitter{background: #55acee; color: #fff; text-decoration: none; height: 30px; width: 30px; border-radius:50%; float: left; line-height: 30px; text-align: center; margin-right: 10px;}
.contact_container .leftonee p a.google-plus{background: #db402c; color: #fff; text-decoration: none; height: 30px; width: 30px; border-radius:50%; float: left; line-height: 30px; text-align: center; margin-right: 10px;}
.contact_container .leftonee p a:hover{opacity: 0.7;}

.right_form{float: left; width: 100%;}
.right_form h2{text-align: center; float: left; color: #232323; font-size: 23px; font-weight: 600; font-family: 'Open Sans', sans-serif; margin: 0px; padding:0px; padding-bottom: 23px; margin-bottom: 20px; background: url(../images/border-e.png) center bottom no-repeat;}
.right_form .form-group .form-control{box-shadow: 0px 0px 0px #fff; border-color: #a5a5a5; border-radius: 4px; color: #a5a5a5; font-size: 13px; font-weight: 500; font-family: 'Open Sans', sans-serif;}
.right_form .form-group .form-control::-moz-placeholder {color: #a5a5a5; opacity: 1;}
.right_form .form-group .form-control:-ms-input-placeholder {color: #a5a5a5;}
.right_form .form-group .form-control::-webkit-input-placeholder {color: #a5a5a5;}
.right_form .form-group .form-control::-ms-expand {background-color: transparent; border: 0;}
.right_form .form-group textarea.form-control{height: 100px;}
.right_form .form-group .btn-submit{font-family: 'Open Sans', sans-serif; text-align: center; background: #19309b; color: #fff; font-weight: 500; text-decoration: none; padding:7px 30px; border:1px solid #19309b; border-radius: 20px;  -webkit-transition: 0.4s ease-in-out; -moz-transition: 0.4s ease-in-out; -ms-transition: 0.4s ease-in-out; -o-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out; position: relative;}
.right_form .form-group .btn-submit:hover{background: none; color: #19309b;}

.ads_container{padding:20px 0px; background: #fff;}
.ads_container .ad_left{width: 100%; float: left;}
.ads_container .ad_left img{width: 100%;}
.ads_container .ad_right{width: 100%; float: left;}
.ads_container .ad_right img{width: 100%;}

.footer_container{padding: 20px 0px 15px 0px; background: #e9a500;}
.footer_nav{float: left; width: 100%; text-align: center;}
.footer_nav ul{margin: 0px; padding: 0px; display: table; margin: auto;}
.footer_nav ul li{float: left; list-style: none; border-right: 1px solid #fff; line-height: 12px;}
.footer_nav ul li:last-child{border-right:none;}
.footer_nav ul li a{font-family: 'Open Sans', sans-serif; text-align: center; font-style: 13px; color: #fff; font-weight: 500; text-decoration: none; padding:10px 15px;}
.copyright_sec{float: left; width: 100%; font-family: 'Open Sans', sans-serif; font-style: 13px; text-align: center; color: #fff; font-weight: 500; text-decoration: none; padding:15px 15px 0px 15px;}
.copyright_sec a{text-decoration: none; color: #212121; font-style: 13px;}






