body {
    font-family: 'Open Sans', sans-serif;
}

.top_container {
    background: #fff;
    padding: 15px 0px;
    border-top: 3px solid #e9a500;
}

.top_container .logo_inner {
    float: left;
    width: 100%;
}

.top_container .logo_inner img {
    max-width: 100%;
}

.top_container .right_menu_section {
    float: right;
}

.top_container .right_menu_section .top_section {
    float: right;
}

.top_container .right_menu_section .top_section .left1 {
    float: left;
    padding-right: 15px;
}

.top_container .right_menu_section .top_section .left1 span {
    font-family: 'Open Sans', sans-serif;
    color: #213dc6;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
    padding-right: 7px;
}

.top_container .right_menu_section .top_section .left1 a {
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
    text-decoration: none;
}

.top_container .right_menu_section .top_section .left2 {
    float: left;
}

.top_container .right_menu_section .top_section .left2 a {
    text-decoration: none;
    float: left;
    color: #bebebe;
    padding-left: 15px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.top_container .right_menu_section .top_section .left2 a:hover {
    color: #213dc6;
}

.top_container .right_menu_section .bottom_section {
    float: right;
    width: 100%;
}

.top_container .right_menu_section .bottom_section .navbar-default {
    background: #fff;
    border: none;
    margin-bottom: 0px;
}

.top_container .right_menu_section .bottom_section .navbar-default .navbar-collapse {
    padding: 6px 0px;
}

.top_container .right_menu_section .bottom_section .navbar-default .navbar-form {
    padding: 0px;
}

.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
    color: #19309b;
}

.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav>li>a {
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 0px;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    padding-bottom: 9px;
    position: relative;
}

.top_container .nav > li > a:hover::before,
.top_container .nav > li.active a:before {
    border-bottom: 1px solid #19309b;
    bottom: -4px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.top_container .nav > li > a:hover::after,
.top_container .nav > li.active a:after {
    background: #19309b;
    bottom: -9px;
    content: "";
    height: 5px;
    position: absolute;
    left: 50%;
    width: 1px;
    margin-left: -1px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.top_container .nav > li > a:hover::after,
.top_container .nav > li.active a:after {
    background: #19309b;
    bottom: -3px;
    content: "";
    height: 7px;
    left: 0;
    position: absolute;
    left: 50%;
    width: 1px;
    margin-left: -1px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav>li {
    padding: 0px 15px;
}

.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav {
    padding-top: 15px;
}

.top_container .right_menu_section .bottom_section .navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background: none;
}

.top_container .right_menu_section .bottom_section .navbar-default .dropdown-menu {
    border-radius: 0px;
    border: none;
    box-shadow: 0 0px 5px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, .175);
}

.top_container .right_menu_section .bottom_section .btn_login {
    background: #19309b;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 7px 20px;
    border-radius: 20px;
    display: block;
}

.top_container .right_menu_section .bottom_section .caret {
    color: #cacaca;
}

.viewall_container {
    padding-top: 20px;
}

.banner_container {
    padding: 0px;
    position: relative;
}

.banner_container .position_ab {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 26%;
}

.banner_container .position_ab .search_container {
    width: 100%;
    float: left;
}

.banner_container .position_ab .search_container .colno {
    padding: 0px;
}

.banner_container .position_ab .search_container .colinput {
    background: #fff;
    padding: 17px 0px;
    float: left;
    width: 100%;
    border-radius: 3px;
    position: relative;
    box-shadow: 4px 5px 4px rgba(21, 21, 21, 0.30);
}

.banner_container .position_ab .search_container .colinput:after {
    border: 9px solid transparent;
    border-left-color: #fff;
    right: -18px;
    top: 13px;
    position: absolute;
    margin-top: 6px;
    content: "";
}

.banner_container .position_ab .search_container .colinput .form-group {
    margin-bottom: 0px;
}

.banner_container .position_ab .search_container .colinput .form-group .form-control {
    background: #fff;
    border: none;
    border-radius: 0px;
    height: 20px;
    box-shadow: 0px 0px 0px #fff;
    padding: 1px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #515151;
    line-height: 20px;
    font-weight: 600;
}

.banner_container .position_ab .search_container .colinput .form-group .border-left {
    border-left: 1px solid #dadada;
}

.banner_container .position_ab .search_container .colinput .form-group .form-control::-moz-placeholder {
    color: #515151;
    opacity: 1;
}

.banner_container .position_ab .search_container .colinput .form-group .form-control:-ms-input-placeholder {
    color: #515151;
}

.banner_container .position_ab .search_container .colinput .form-group .form-control::-webkit-input-placeholder {
    color: #515151;
}

.banner_container .position_ab .search_container .colinput .form-group .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.banner_container .position_ab .search_container .form-group .btn-tradie {
    background: #242424;
    width: 100%;
    float: left;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 19px 12px 16px 12px;
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: 4px 5px 4px rgba(21, 21, 21, 0.30);
}

.banner_container .carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    color: #716c6b;
}

.banner_container .carousel-control .glyphicon-chevron-left {
    font-size: 0px;
}

.banner_container .carousel-control .glyphicon-chevron-left:after {
    content: "\e257";
    font-size: 48px;
    font-family: 'Glyphicons Halflings';
}

.banner_container .carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    color: #716c6b;
    font-size: 0px;
}

.banner_container .carousel-control .glyphicon-chevron-right {
    font-size: 0px;
}

.banner_container .carousel-control .glyphicon-chevron-right:after {
    content: "\e258";
    font-size: 48px;
    font-family: 'Glyphicons Halflings';
}

.carousel-control.left {
    background: none;
}

.carousel-control.right {
    background: none;
}

.banner_container .carousel-inner .item img {
    width: 100%;
}

.work_container {
    padding: 50px 0px 0px 0px;
    background: #e9a500;
}

.work_container h2 {
    text-align: center;
    color: #000000;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    background: url(../images/border-b.png) center bottom no-repeat;
}

.work_container .article {
    float: left;
    width: 100%;
    border-bottom: 1px solid #d39500;
    padding-bottom: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.work_container .article .media img {
    height: 270px;
    width: 270px;
    -webkit-transition: 0.4s ease-in-out;
    -webkit-transition: 0.9s ease-in-out;
    transition: 0.9s ease-in-out;
}

.work_container .article .media img:hover {}

.work_container .article .media .media-body p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #000000;
    font-weight: 500;
    line-height: 20px;
}

.work_container .article .media .media-body .media-heading {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 18px;
    position: relative;
}

.work_container .article .media .media-body .media-heading:after {
    position: absolute;
    left: 0px;
    top: 115%;
    content: "";
    display: block;
    border-bottom: 1px solid #9b6e00;
    width: 80px;
}

.work_container .article .media .media-body h1 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 65px;
}

.work_container .article .media .media-right,
.media>.pull-right {
    padding-left: 60px;
}

.work_container .article .media .media-left,
.media>.pull-left {
    padding-right: 60px;
}

.work_container .article .media .media-body-right h1 {
    text-align: right;
}

.work_container .article .media .media-body-right .media-heading {
    text-align: right;
}

.work_container .article .media .media-body-right .media-heading:after {
    right: 0px;
    left: auto;
    top: 125%;
}

.work_container .article .media .media-body-right p {
    text-align: right;
}

.work_container .article:last-child {
    border-bottom: none;
}

.feature_categories {
    padding: 40px 0px;
/*   background: #fff;*/
}



.feature_categories.homepage {
    padding: 40px 0px;
  background: #fff;
}



.feature_categories h2 {
    text-align: center;
    color: #e9a500;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    padding-bottom: 23px;
    margin-bottom: 20px;
    background: url(../images/border-c.png) center bottom no-repeat;
}

.feature_categories .colgallery_inner {
    padding: 0px;
    text-decoration: none;
    position: relative;
    margin-bottom: 30px;
    border-radius: 0px;
    border: none;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.feature_categories .thumbnail .thum_one {
    height: 166px;
    overflow: hidden;
}

.feature_categories .colgallery_inner .caption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 15px 10px;
    background: rgba(243, 243, 243, 0.78);
    text-align: center;
    width: 100%;
    display: inline-block;
    -webkit-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out;
}

.feature_categories .colgallery_inner .caption span {
    color: #132ba3;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    -webkit-animation-direction: alternate;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.feature_categories .colgallery_inner:hover {
    box-shadow: 0px 4px 15px #989898;
    z-index: 99;
}

.feature_categories .colgallery_inner:hover .caption {
    background: rgba(244, 174, 9, 0.64);
    /*top: 100%;*/
}

.feature_categories .colgallery_inner:hover .caption span {
    color: #2a2a2a;
}

.colright_panel {
    float: left;
    width: 100%;
}

.colright_panel .coltop_heading {
    float: left;
    width: 100%;
    background: #f4ae09;
    text-align: left;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
}

.colright_panel .colbottomP {
    float: left;
    width: 100%;
    background: #f3f3f3;
    padding: 0px;
    height: 506px;
}

.colright_panel .colbottomP ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

.colright_panel .colbottomP ul li {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0px 15px;
}

.colright_panel .colbottomP .panel_article {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0px;
}

.colright_panel .colbottomP .panel_article h3 {
    margin: 0px;
    padding-bottom: 5px;
}

.colright_panel .colbottomP .panel_article h3 a {
    color: #1e1e1e;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 700;
    line-height: 16px;
    font-size: 15px;
}

.colright_panel .colbottomP .panel_article p {
    color: #434343;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
}

.viewall_container {
    float: left;
    width: 100%;
    text-align: center;
}

.viewall_container a {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #2d2d2d;
    font-weight: 500;
    text-decoration: none;
    padding: 7px 30px;
    border: 1px solid #2d2d2d;
    border-radius: 20px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.viewall_container a:hover {
    background: #2d2d2d;
    color: #fff;
}

.chooseus_container {
    padding: 40px 0px 40px 0px;
    background: #e9a500;
}

.left_img_section {
    float: left;
    width: 100%;
    
}

.left_img_section img {
    max-width: 100%;
}

.rightsection {
    float: left;
    width: 100%;
    
}

.rightsection h2 {
    text-align: left;
    color: #232323;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    padding-bottom: 23px;
    margin-bottom: 20px;
    background: url(../images/border-d.png) 20px bottom no-repeat;
}

.rightsection ul {
    margin: 0px;
    padding: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: left;
    width: 100%;
}

.rightsection ul li {
    float: left;
    width: 100%;
    list-style: none;
    margin-bottom: 20px;
}

.rightsection ul li span {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    line-height: 18px;
    padding-left: 15px;
}

.rightsection ul li i {
    border-radius: 2px;
    border: 1px solid #fff;
    padding: 1px 4px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.rightsection a {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: #2d2d2d;
    float: left;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 7px 30px;
    border: 1px solid #2d2d2d;
    border-radius: 20px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    position: relative;
}

.rightsection a:hover {
    background: none;
    color: #2d2d2d;
}

.testimonial_container {
    padding: 40px 0px;
    background: #f3f3f3;
}

#owl-demo .item {
    margin: 15px;
}

.testimonial_container .span12 h2 {
    text-align: center;
    color: #232323;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    padding-bottom: 23px;
    margin-bottom: 20px;
    background: url(../images/border-e.png) center bottom no-repeat;
}

.testimonial_container .owl-carousel {
    padding-top: 30px;
}

.testimonial_container .owl-carousel .col_testimonial {
    float: left;
    width: 100%;
}

.testimonial_container .owl-carousel .col_testimonial .media .media-left img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.testimonial_container .owl-carousel .col_testimonial .media-left,
.media>.pull-left {
    border-right: 4px solid #c48b00;
}

.testimonial_container .owl-carousel .col_testimonial .media-body {
    padding-left: 10px;
}

.testimonial_container .owl-carousel .col_testimonial .media-body p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #131313;
    font-weight: 500;
    font-style: 13px;
    line-height: 18px;
}

.testimonial_container .owl-carousel .col_testimonial .media-body p.author {
    margin: 0px;
}

.testimonial_container .owl-carousel .col_testimonial .media-body p.author a {
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #000fff;
    text-decoration: none;
    font-weight: 500;
    font-style: 14px;
    line-height: 18px;
    padding-right: 15px;
}

.testimonial_container .owl-carousel .col_testimonial .media-body p.author span {
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: 500;
    font-style: 12px;
    line-height: 18px;
}

.testimonial_container .owl-theme .owl-controls .owl-page span {
    background: #2a2a2a;
}

.testimonial_container .owl-theme .owl-controls {
    margin-top: 55px;
}

.contact_container {
    padding: 40px 0px;
    background: #fff;
}

.contact_container .leftonec {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.contact_container .leftonec h3 {
    text-align: left;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding-bottom: 5px;
}

.contact_container .leftonec h3 i {
    padding-right: 4px;
}

.contact_container .leftonec p {
    text-align: left;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.contact_container .leftoned {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.contact_container .leftoned h3 {
    text-align: left;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding-bottom: 5px;
}

.contact_container .leftoned h3 i {
    padding-right: 4px;
}

.contact_container .leftoned p a {
    text-align: left;
    color: #5e5e5e;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.contact_container .leftonee {
    float: left;
    width: 100%;
    margin-bottom: 0px;
}

.contact_container .leftonee h3 {
    text-align: left;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding-bottom: 10px;
}

.contact_container .leftonee h3 i {
    padding-right: 4px;
}

.contact_container .leftonee p a {
    text-align: left;
    color: #5e5e5e;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.contact_container .leftonee p a.facebook {
    background: #3b5998;
    color: #fff;
    text-decoration: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
}

.contact_container .leftonee p a.twitter {
    background: #55acee;
    color: #fff;
    text-decoration: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
}

.contact_container .leftonee p a.google-plus {
    background: #db402c;
    color: #fff;
    text-decoration: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
}

.contact_container .leftonee p a:hover {
    opacity: 0.7;
}

.right_form {
    float: left;
    width: 100%;
}

.right_form h2 {
    text-align: center;
    float: left;
    color: #232323;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    padding-bottom: 23px;
    margin-bottom: 20px;
    background: url(../images/border-e.png) center bottom no-repeat;
}

.right_form .form-group .form-control {
    box-shadow: 0px 0px 0px #fff;
    border-color: #a5a5a5;
    border-radius: 4px;
    color: #383838;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.right_form .form-group .form-control::-moz-placeholder {
    color: #a5a5a5;
    opacity: 1;
}

.right_form .form-group .form-control:-ms-input-placeholder {
    color: #a5a5a5;
}

.right_form .form-group .form-control::-webkit-input-placeholder {
    color: #a5a5a5;
}

.right_form .form-group .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.right_form .form-group textarea.form-control {
    height: 100px;
}

.right_form .form-group .btn-submit {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: #19309b;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 7px 30px;
    border: 1px solid #19309b;
    border-radius: 20px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    position: relative;
}

.right_form .form-group .btn-submit:hover {
    background: none;
    color: #19309b;
}

.ads_container {
    padding: 20px 0px;
    background: #fff;
}

.ads_container .ad_left {
    width: 100%;
    float: left;
    text-align: center;
}

.ads_container .ad_left img {
    max-width: 100%;
    height: auto;
}

.ads_container .ad_right {
    width: 100%;
    float: left;
    text-align: center;
}

.ads_container .ad_right img {
   max-width: 100%;
   height: auto;
}

.footer_container {
    padding: 20px 0px 15px 0px;
    background: #e9a500;
}

.footer_nav {
    float: left;
    width: 100%;
    text-align: center;
}

.footer_nav ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}

.footer_nav ul li {
    list-style: none;
    border-right: 1px solid #fff;
    line-height: 12px;
    display: inline-block;
}

.footer_nav ul li:last-child {
    border-right: none;
}

.footer_nav ul li a {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 15px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}


.footer_nav ul li a:hover{
    color:#3952CB;
    
}

.copyright_sec {
    float: left;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 15px 0px 15px;
}

.copyright_sec a {
    text-decoration: none;
    color: #212121;
    font-style: 13px;
}

.join_btn_wr {
    padding: 0px;
}

.join_container {
    float: left;
    width: 100%;
    text-align: center;
    padding: 53px 0px;
}

.join_container .join_inner {
    display: table;
    margin: auto;
    text-align: center;
}

.join_container .join_inner .join_btn {
    font-family: 'Open Sans', sans-serif;
    border: none;
    float: left;
    outline: none;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 10px 15px;
    width: 240px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    background-color: #3C55CD;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3C55CD), to(#0929C3));
    background-image: -webkit-linear-gradient(top, #3C55CD, #0929C3);
    background-image: linear-gradient(to bottom, #3C55CD, #0929C3);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3C55CD, endColorstr=#0929C3);
    background-image: -webkit-linear-gradient(top, #2642C8 0%, #0727c3 100%);
    background-image: linear-gradient(to bottom, #2642C8 0%, #0727c3 100%);
    box-shadow: 0px -1px 0px #213dc6;
    border-top: 1px solid #5c71d5;
}

.join_container .join_inner .join_btn:hover {
    background-color: #0929C3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0929C3), to(#3c55cd));
    background-image: -webkit-linear-gradient(top, #0929C3, #3c55cd);
    background-image: linear-gradient(to bottom, #0929C3, #3c55cd);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0929C3, endColorstr=#3c55cd);
}

.join_container .join_inner .post_btn {
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 10px 15px;
    width: 240px;
    font-size: 16px;
    color: #000000;
    float: left;
    font-weight: 500;
    background-color: #3C55CD;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6c13e), to(#d19400));
    background-image: -webkit-linear-gradient(top, #f6c13e, #d19400);
    background-image: linear-gradient(to bottom, #f6c13e, #d19400);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f6c13e, endColorstr=#d19400);
    background-image: -webkit-linear-gradient(top, #f6c13e 0%, #d19400 100%);
    background-image: linear-gradient(to bottom, #f6c13e 0%, #d19400 100%);
    box-shadow: 0px -1px 0px #ffb500;
    border-top: 1px solid #ffd97b;
}

.join_container .join_inner .post_btn:hover {
    background-color: #0929C3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0929C3), to(#f6c13e));
    background-image: -webkit-linear-gradient(top, #d19400, #f6c13e);
    background-image: linear-gradient(to bottom, #d19400, #f6c13e);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d19400, endColorstr=#f6c13e);
}

.right_form .form-group .form-control:focus {
    border-color: #e9a500;
}

.login_popup .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.login_popup .modal-content {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0px;
    outline: 0;
}

.login_popup .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.login_popup .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.login_popup .modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.login_popup .checkbox {
    margin-bottom: 0px;
}

.login_popup .btn {
    border-radius: 0px;
}

.login_popup .btn-lg,
.login_popup .btn-group-lg>.btn {
    border-radius: 0px;
    background: #19309b;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.login_popup .btn:focus {
    background: #19309b;
}

.login_popup .btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.login_popup .btn-link:hover,
.btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.login_popup .glyphicon {
    top: 0px;
}

.login_popup .form-control {
    border-radius: 0px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 0px #fff;
}

.login_popup .modal-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 22px;
}

.login_popup .modal-dialog {
    width: 360px;
    margin-top: 120px;
    font-family: 'Open Sans', sans-serif;
}

.login_popup .signup {
    background: #d19400;
}


/*-------------------sandip--------------*/

.acc-page-form h3 {
    background: rgba(0, 0, 0, 0) url("../images/border-e.png") no-repeat scroll center bottom;
    color: #232323;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
    font-weight: 600;
    margin: 0 0 20px;
    padding: 0 0 23px;
    text-align: center;
}

.acc-page-form {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ebebeb;
}

body {
    background-image: url(../images/fabric_of_squares_gray.png);
    background-repeat: repeat;
    background-position: center center;
}

.acc-page-form .form-control {
    box-shadow: 0px 0px 0px #fff;
    border-color: #a5a5a5;
    border-radius: 4px;
    color: #383838;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.acc-page-form .form-control::-moz-placeholder {
    color: #a5a5a5;
    opacity: 1;
}

.acc-page-form .form-control:-ms-input-placeholder {
    color: #a5a5a5;
}

.acc-page-form .form-control::-webkit-input-placeholder {
    color: #a5a5a5;
}

.acc-page-form .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.acc-page-form textarea.form-control {
    height: 100px;
}

.acc-page-form .btn-submit {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: #19309b;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 7px 30px;
    border: 1px solid #19309b;
    border-radius: 20px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    position: relative;
}

.acc-page-form .btn-submit:hover {
    background: #3952cb;
    color: #fff;
}

.acc-page-form .form-control:focus {
    border: 1px solid #19309b;
}

.acc-page-form .error {
    color: #b50000;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 600;
}

input.css-checkbox[type="radio"] + label.css-label {
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
}

.radio {
    margin-bottom: 0px;
}

.css-label.radGroup1 {
    font-weight: bold;
}

.acc-page-form .note {
    font-size: 13px;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    color: #999;
}

.acc-page-form a {
    color: #000fff;
    text-decoration: none;
}

.acc-page-form a:hover {
    color: #19309b;
}

.pri-message {
    color: #222222;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 5px;
    text-align: left;
    margin-bottom: 20px;
}

.pri-message.success {
    color: #00b62b;
}

.pri-message.faild {
    color: #b50000;
}

.acc-page-form p {
    font-size: 13px;
}

.radio-inline {
    padding-left: 0;
}

.table-responsive thead th {
    background: #19309B;
    color: #fff;
    border-bottom: 0;
}

.table > thead > tr > th {
    border-bottom: 0;
}

.table-responsive table {
    border: 1px solid #ddd;
}

.table-responsive table {
    border-collapse: collapse;
}

.table-responsive table,
th,
td {
    border: 1px solid #ddd;
}

.symbol-btn {
    font-size: 18px;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    color: #000;
}

.symbol-btn i.fa-times-circle {
    color: #e91111;
}

.symbol-btn i.fa-check-circle {
    color: #439F43;
}

.symbol-btn i.fa-eye {
    color: #19309B;
}

.symbol-btn i.fa-pencil-square-o {
    color: #8E1816;
}

.symbol-btn:hover i {
    opacity: .8;
}

.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li a {
    border: 0 none;
    box-sizing: border-box;
    display: block;
    line-height: 1;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}

.cssmenu {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin-bottom: 20px !important;
}

.cssmenu ul ul {
    display: none;
}

.cssmenu > ul > li.active > ul {
    display: block;
}

.align-right {
    float: right;
}

.cssmenu > ul > li > a {
    /*border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;*/
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    color: #575656;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
    z-index: 2;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,eaeaea+3,e9e9e9+6,e8e8e8+17,eaeaea+20,e3e3e3+43,e5e5e5+46,e0e0e0+51,e0e0e0+60,dadada+66,dddddf+69,d8d8da+77,d9d9db+100 */
    background: rgb(248, 248, 248);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(234, 234, 234, 1) 3%, rgba(233, 233, 233, 1) 6%, rgba(232, 232, 232, 1) 17%, rgba(234, 234, 234, 1) 20%, rgba(227, 227, 227, 1) 43%, rgba(229, 229, 229, 1) 46%, rgba(224, 224, 224, 1) 51%, rgba(224, 224, 224, 1) 60%, rgba(218, 218, 218, 1) 66%, rgba(221, 221, 223, 1) 69%, rgba(216, 216, 218, 1) 77%, rgba(217, 217, 219, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(234, 234, 234, 1) 3%, rgba(233, 233, 233, 1) 6%, rgba(232, 232, 232, 1) 17%, rgba(234, 234, 234, 1) 20%, rgba(227, 227, 227, 1) 43%, rgba(229, 229, 229, 1) 46%, rgba(224, 224, 224, 1) 51%, rgba(224, 224, 224, 1) 60%, rgba(218, 218, 218, 1) 66%, rgba(221, 221, 223, 1) 69%, rgba(216, 216, 218, 1) 77%, rgba(217, 217, 219, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#d9d9db', GradientType=0);
    /* IE6-9 */
}

.cssmenu > ul > li.active > a {
    color: #454545 !important;
}

.cssmenu > ul > li > a:hover,
.cssmenu > ul > li.active > a,
.cssmenu > ul > li.open > a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ecae15+0,f5c960+100 */
    background: rgb(236, 174, 21);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(236, 174, 21, 1) 0%, rgba(245, 201, 96, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(236, 174, 21, 1) 0%, rgba(245, 201, 96, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ecae15', endColorstr='#f5c960', GradientType=0);
    /* IE6-9 */
    color: #fff;
}

.cssmenu > ul > li.open.active > a {
    /*    border-bottom: 1px solid #000000;*/
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.15);
}

.cssmenu > ul > li:last-child > a,
.cssmenu > ul > li.last > a {
    /*border-bottom: 1px solid #000000;*/
}

.holder {
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}

.holder::after,
.holder::before {
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    right: 20px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    width: 6px;
    z-index: 10;
}

.holder::after {
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    top: 17px;
}

.cssmenu > ul > li > a:hover > span::after,
.cssmenu > ul > li.active > a > span::after,
.cssmenu > ul > li.open > a > span::after {
    border-color: #eeeeee;
}

.holder::before {
    border-left-color: inherit;
    border-left-style: solid;
    border-left-width: 2px;
    border-top-color: inherit;
    border-top-style: solid;
    border-top-width: 2px;
    top: 18px;
}

.cssmenu ul ul li a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+0,eeeeee+6,e9e9e9+45,dfdfe2+82,dfdfe2+100 */
    background: rgb(243, 243, 243);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(238, 238, 238, 1) 6%, rgba(233, 233, 233, 1) 45%, rgba(223, 223, 226, 1) 82%, rgba(223, 223, 226, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(243, 243, 243, 1) 0%, rgba(238, 238, 238, 1) 6%, rgba(233, 233, 233, 1) 45%, rgba(223, 223, 226, 1) 82%, rgba(223, 223, 226, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#dfdfe2', GradientType=0);
    /* IE6-9 */
    border-bottom: 1px solid #32373e;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #eeeeee;
    cursor: pointer;
    font-size: 13px;
    padding: 10px 20px 10px 35px;
    text-decoration: none;
    z-index: 1;
}



.cssmenu ul ul li:hover > a,
.cssmenu ul ul li.open > a,
.cssmenu ul ul li.active > a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#51cd1c+0,4ebb1f+100 */
    background: rgb(81, 205, 28);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(81, 205, 28, 1) 0%, rgba(78, 187, 31, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(81, 205, 28, 1) 0%, rgba(78, 187, 31, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#51cd1c', endColorstr='#4ebb1f', GradientType=0);
    /* IE6-9 */
    color: #ffffff;
}

.cssmenu ul ul li:first-child > a {
    box-shadow: none;
}

.cssmenu ul ul ul li:first-child > a {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}

.cssmenu ul ul ul li a {
    padding-left: 30px;
}

.cssmenu > ul > li > ul > li:last-child > a,
.cssmenu > ul > li > ul > li.last > a {}

.cssmenu > ul > li > ul > li.open:last-child > a,
.cssmenu > ul > li > ul > li.last.open > a {
    border-bottom: 1px solid #32373e;
}

.cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
    border-bottom: 0 none;
}

.cssmenu ul ul li.has-sub > a::after {
    border-left: 2px solid #454545;
    border-top: 2px solid #454545;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    right: 20px;
    top: 11.5px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    width: 5px;
    z-index: 10;
}

.cssmenu ul ul li.active > a::after,
.cssmenu ul ul li.open > a::after,
.cssmenu ul ul li > a:hover::after {
    border-color: #ffffff;
}

.cssmenu > ul > li:first-of-type > a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cssmenu > ul > li:last-of-type > a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cssmenu > ul li.active .number,
.cssmenu > ul li.open .number {
    float: right;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 20px;
    border: 1px solid #e5a50c;
    background-color: #e5a50c;
    text-align: center;
    font-size: 11px;
    margin-right: 15px;
    color: #fff;
}

.cssmenu > ul li .number {
    float: right;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 20px;
    border: 1px solid #bcbcbc;
    background-color: #bcbcbc;
    text-align: center;
    font-size: 11px;
    margin-right: 15px;
    color: #fff;
}

.cssmenu > ul li a:hover .number {
    float: right;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 20px;
    border: 1px solid #e6b32a;
    background-color: #e6b32a;
    text-align: center;
    font-size: 11px;
    margin-right: 15px;
    color: #fff;
}

.cssmenu ul li.open ul li a .number {
    float: right;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 20px;
    border: 1px solid #d6d6d6;
    background-color: #d6d6d6;
    text-align: center;
    font-size: 11px;
    text-shadow: none;
    margin-right: 15px;
    color: #454545;
}

.cssmenu ul li.open ul li.open a .number {
    border: 1px solid #369b0a;
    background-color: #369b0a;
    color: #454545;
}

.cssmenu ul li.open ul li a:hover .number {
    border: 1px solid #369b0a;
    background-color: #369b0a;
    color: #454545;
}

.cssmenu .number i:before {
    color: rgba(10, 60, 150, 0.8);
    display: block;
}

.cssmenu ul ul li a {
    color: #454545;
}

.cssmenu .icon {
    float: left;
    margin-right: 10px;
}

.holder::after {
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    top: 17px;
}

.cssmenu > ul li a:hover .holder::after {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    top: 17px;
}

.cssmenu > ul li.open a:hover .holder::after {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    top: 17px;
}

.cssmenu > ul li a:hover,
.cssmenu > ul li.open a,
.cssmenu > ul li.active a {}

.cssmenu > ul li a {
    border-bottom: 1px solid #CACACA;
}

.cssmenu > ul > li:last-of-type a {
    border-bottom: none;
}

.cssmenu > ul li a .icon {}

a:focus {
    outline: none;
}

.listing-title {
    color: #fff;
    font-size: 23px;
    line-height: 25px;
    background-color: #f4ae09;
    padding: 10px 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

.listing-title .toggle-btn {
    font-size: 14px;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 20px;
    background-color: #262626;
    text-align: center;
    line-height: 26px;
    color: #fff;
    box-shadow: 1px01px 2px rgba(0, 0, 0, .2);
    float: right;
}

.listing-title .toggle-btn i {}

.image-wrapper {
    position: relative;
    height: 120px;
    width: 100%;
  
    text-align: center;
}

.image-wrapper img {
    width: 100% !important;
    /*height: auto;*/
    heighr:124px;
    height: 100%;
    display: inline-block;
}

.gray-bg {
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gray-bg .image-wrapper img{
    max-width: 100%;
    width: auto !important;
    height: auto;
}
.gray-bg .image-wrapper{
    height: auto;
}

.toggle-wrapper {
    padding: 5px 0px;
    text-align: right;
}

.toggle-wrapper a {
    font-size: 24px;
    margin-left: 10px;
    color: #19309b;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.toggle-wrapper a:hover {
    color: #19309b;
}

.products-list-wrapper .item {
    border-radius: 5px;
    position: relative;
    margin-bottom: 40px;
}

.bottom-margin {
    height: 40px;
    display: block;
    width: 100%;
}

.products-list-wrapper .col-lg-3 {
    /*     padding-bottom: 40px !important;*/
}

.products-list-wrapper .item .top-data h3 {
    color: #333333;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.products-list-wrapper .item .top-data {
   /* background-color: #f3f3f3;*/
   background-color: #ebebeb;
    padding: 17px 10px;
    position: relative;
    left: 0;
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.products-list-wrapper .item .bottom-data {
   /*background-color: #f3f3f3;*/
   background-color: #ebebeb;
    padding: 17px 10px;
    position: relative;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.products-list-wrapper .item .bottom-data .price {
    color: #9f0202;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.products-list-wrapper .item .bottom-data .price {
    color: #9f0202;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.products-list-wrapper .item .bottom-data .readmore-btn {
    color: #252525;
    font-size: 13px;
    line-height: 13px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    float: right;
    text-decoration: underline;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.products-list-wrapper .item .bottom-data .contact-btn {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 7px 30px;
    border: 1px solid #2d2d2d;
    border-radius: 20px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    position: relative;
    background-color: #2f2f2f;
    position: absolute;
    bottom: -18px;
    left: 50%;
    margin-left: -56px;
    opacity: 0;
}

.products-list-wrapper .item .bottom-data .contact-btn:hover {
    background-color: #9f0202;
    border: 1px solid #9f0202;
}

.overlay {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1005;
    z-index: 1;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.row.products-list-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.products-list-wrapper .item:hover .overlay {
    background-color: rgba(0, 0, 0, .8);
}

.products-list-wrapper .item:hover .bottom-data {
    background-color: #F4AE09;
}

.products-list-wrapper .item:hover .top-data {
    background-color: #F4AE09;
}

.products-list-wrapper .item:hover .contact-btn {
    opacity: 1;
}

.products-list-wrapper .item:hover .top-data h3 {
    color: #fff;
}

.products-list-wrapper .item:hover .price {
    color: #fff;
}

.products-list-wrapper .item:hover .readmore-btn {
    color: #fff;
}

.products-list-wrapper .item:hover .readmore-btn:hover {
    color: #252525;
}

.products-list-wrapper .item:hover .bottom-data {
    padding: 17px 10px 20px 10px;
}

.down:before {
    content: "\f078" !important;
}

.active-tooggle {
    color: #ccc !important;
}

.products-list-wrapper .col-lg-3.list-view {
    width: 100% !important;
}

.products-list-wrapper .col-lg-3.list-view .item {
    margin-bottom: 0px;
}

.products-list-wrapper .col-lg-3.list-view .image-wrapper {
    width: 25%;
    position: relative;
    float: left;
    padding-right: 20px;
}

.list-view .overlay {
    opacity: 0 !important;
}

.list-view .item:hover .overlay {
    opacity: 0 !important;
}

.products-list-wrapper .col-lg-3.list-view .top-data {
    float: right;
    background-color: transparent;
    width: 65%;
}

.products-list-wrapper .col-lg-3.list-view .bottom-data {
/*    float: right;*/
    background-color: transparent;
    width: 65%;
}

.products-list-wrapper .col-lg-3.list-view {
    margin-bottom: 20px;
}

.products-list-wrapper .col-lg-3.list-view .item:hover .top-data h3 {
    color: #333333;
}

.products-list-wrapper .col-lg-3.list-view .item .top-data h3 {
    font-size: 18px;
}

.products-list-wrapper .col-lg-3.list-view .item:hover .price {
    color: #9f0202;
}

.product-content {
    display: none;
    margin-bottom: 30px;
}

.products-list-wrapper .col-lg-3.list-view .item:hover .readmore-btn {
    color: #252525;
}

.products-list-wrapper .col-lg-3.list-view .top-data {
    padding-bottom: 0;
    padding-top: 0;
}

.products-list-wrapper .col-lg-3.list-view .readmore-btn {
    float: none;
    display: block;
    margin-top: 10px;
}

.products-list-wrapper .col-lg-3.list-view .contact-btn {
    opacity: 1;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    float: right;
}

.products-list-wrapper .col-lg-3.list-view .product-content {
    display: block !important;
}

.products-list-wrapper .col-lg-3.list-view {
    padding: 20px;
    border: 1px solid #ccc;
}

.products-list-wrapper .col-lg-3.list-view .item:hover .bottom-data {
    padding: 17px 10px 17px 10px;
}

.top_container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
}

.top_container.homepage {
    box-shadow: none;
    margin-bottom: 0px;
}

.inner-page-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-responsive .symbol-btn img {
    max-width: 16px;
    height: auto;
    opacity: .7;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.table-responsive .symbol-btn:hover img {
    opacity: 1;
}

.table-responsive table tbody tr:nth-of-type(even) td {
    background-color: #fff;
}

.table-responsive table tbody tr:nth-of-type(odd) td {
    background-color: #efefef;
}

#cssmenu-one ul ul li:last-of-type a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#cssmenu-one ul li.open a {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.join_inner a:hover {
    text-decoration: none;
}

.products-list-wrapper .col-lg-3.list-view .top-data {
    float: left;
    background-color: transparent;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.products-list-wrapper .col-lg-3.list-view .bottom-data {
/*    float: left;*/
    background-color: transparent;
    width: 100%;
}

.products-list-wrapper .col-lg-3.list-view .image-wrapper {
    padding-right: 0;
}

.goto-bottom{
    position: absolute;
    bottom: 10%;
    left: 00%;
    z-index: 999;
    width: 100%;
    width: 100%;
    text-align: center;
}

.join_container.mobile{
    display: none;
}
.join_container.mobile{
    position: relative;
    float: none;
}


.navbar-toggle{
    width: 30px;
    height: 30px;
    padding: 7px;
    position: absolute;
    top: -58px;
    right: 40px;
    border-radius: 50px !important;
    display: none;
    
}
.navbar-default .navbar-toggle{
    border-color: #19309b !important;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    
}

.navbar-default .navbar-toggle:hover{
    border-color: #E9A500 !important;
    
}

.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #E9A500;
}



.navbar-default .navbar-toggle .icon-bar{
    width: 14px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}

.mobile-login{
    position: absolute;
    top: -50px;
    right: 0px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #fff;
    background-color: #19309b;
    text-align: center;
    border-radius: 50px !important;
    line-height: 10px;
    display: none;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.mobile-login:hover{
    background-color: #E9A500;
    color: #fff;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    background-color: #e9e9e9;
}


.product-details{
    padding-top: 50px;
    padding-bottom: 50px;
}
.product-details h2 {
    background: rgba(0, 0, 0, 0) url("../images/border-f.png") no-repeat scroll left bottom;
    color: #19309b;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 21px;
    font-weight: 600;
    margin: 0 0 20px;
    padding: 0 0 23px;
    text-align: center;
   
}
.pro-details-img img{
    width: 100%;
    height: auto;
}


.price{
    color: #9f0202;
    font-family: "Open Sans",sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    margin: 0 0 6px 0;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.pro-details-content p{
    font-size: 15px;
    margin-bottom: 21px;
}

.product-sidebar{
    background-image: url(../images/product-sidebar-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    padding: 18px 15px;
    min-height: 460px;
    position: -webkit-sticky;
    position: sticky;
    
}

.product-sidebar .logo img{
    max-width: 100%;
    height: auto;
   
}
.product-sidebar .logo{
    margin-bottom: 18px;
   
    text-align: left;
}

.product-sidebar h3{
    color: #fff;
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
}

.product-sidebar p{
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
}

.product-sidebar a.link-btn{
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid #fff;
    margin-bottom: 22px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.product-sidebar a.link-btn:hover{
    text-decoration: none;
    color: #E9A500;
    border-bottom: 1px solid #E9A500;
}

.product-sidebar a.btn.contact-btn {
    background: #e9a500 none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    display: inline-block;
}

.product-sidebar a.btn.contact-btn:hover{
    background-color: #19309b;
}




.header-content-service-provider{
    margin-bottom: 30px;
}
.jq-ry-container{
    margin-left: auto;
    margin-right: auto;
}

.rating-wrapper{
    margin-top: 30px;
    margin-bottom: 30px;
}
.image-wrapper.service-provider{
    text-align: center;
}
.image-wrapper.service-provider img{
    max-width: 100% ;
    height: auto;
    width: auto;
    
    
    
}


.list-view .image-wrapper{
    
    padding-right: 20px !important;
}

.list-view .bottom-data{
    
    padding: 0 !important;
}

.list-view .top-data{
    margin-top: 0!important;
    padding-left: 0 !important;
    
}



input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=radio].css-checkbox + label.css-label {
    padding-left: 24px;
    height: 19px;
    display: inline-block;
    line-height: 19px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 19px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -19px;
}

label.css-label {
    background-image: url(../images/csscheckbox_f5a0bac71f2d241ee9a9c97860a9eae4.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-wrapper-inline{
    display: inline-block;
    margin-right: 5px;
}


.inner_banner_container .position_ab .search_container {
    float: left;
    width: 100%;
}
.inner_banner_container .position_ab .search_container .colno {
    padding: 0;
}
.inner_banner_container .position_ab .search_container .colinput {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 4px 5px 4px rgba(21, 21, 21, 0.3);
    float: left;
    padding: 17px 0;
    position: relative;
    width: 100%;
}
.inner_banner_container .position_ab .search_container .colinput::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #fff;
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 9px;
    content: "";
    margin-top: 6px;
    position: absolute;
    right: -18px;
    top: 13px;
}
.inner_banner_container .position_ab .search_container .colinput .form-group {
    margin-bottom: 0;
}
.inner_banner_container .position_ab .search_container .colinput .form-group .form-control {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 0 0 #fff;
    color: #515151;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    padding: 4px 20px;
}
.inner_banner_container .position_ab .search_container .colinput .form-group .border-left {
    border-left: 1px solid #dadada;
}
.inner_banner_container .position_ab .search_container .colinput .form-group .form-control::-moz-placeholder {
    color: #515151;
    opacity: 1;
}
.inner_banner_container .position_ab .search_container .form-group .btn-tradie {
    background: #242424 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 4px 5px 4px rgba(21, 21, 21, 0.3);
    color: #fff;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 600;
    outline: medium none;
    padding: 19px 12px 16px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.inner_banner_container .position_ab .search_container .form-group .btn-tradie:hover{
    text-decoration: none;
}

.inner_banner_container .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    color: #716c6b;
}
.inner_banner_container .carousel-control .glyphicon-chevron-left {
    font-size: 0;
}
.inner_banner_container .carousel-control .glyphicon-chevron-left::after {
    content: "";
    font-family: "Glyphicons Halflings";
    font-size: 48px;
}
.inner_banner_container .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    color: #716c6b;
    font-size: 0;
}
.inner_banner_container .carousel-control .glyphicon-chevron-right {
    font-size: 0;
}
.inner_banner_container .carousel-control .glyphicon-chevron-right::after {
    content: "";
    font-family: "Glyphicons Halflings";
    font-size: 48px;
}
.carousel-control.left {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.carousel-control.right {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.inner_banner_container .carousel-inner .item img {
    width: 100%;
}
.work_container {
    background: #e9a500 none repeat scroll 0 0;
    padding: 50px 0 0;
}

.inner_banner_container{
    margin-top: 40px;
}


h2.inner-header {
    background: rgba(0, 0, 0, 0) url("../images/border-c.png") no-repeat scroll center bottom;
    color: #e9a500;
    font-family: "Open Sans",sans-serif;
    font-size: 23px;
    font-weight: 600;
    margin: 0 0 20px;
    padding: 0 0 23px;
    text-align: center;
    margin-top: 30px;
}

.modal-header {
    border-bottom: 1px solid #ef593b;
}

.modal-title{
    font-weight:bold;
}
.sp-tbl-wrapper .tb-label {
    color: #222;
    font-weight: bold;
    margin-right: 4px;
}


/*

.products-list-wrapper .image-wrapper{
    height: ;
}
*/
.slide-toggle-btn{
    display: none;
}


.products-list-wrapper .list-view img{
    margin-bottom: 10px;
}

.products-list-wrapper > .col-md-4{
    min-height: 300px;
}



.products-list-wrapper .col-md-4.list-view{
    min-height: auto !important;
}

.products-list-wrapper .col-md-4 img{
    border: 1px solid #dedede;
    
}


.products-list-wrapper .col-md-4.list-view .image-wrapper{
    margin-bottom: 20px;
    padding-right: 20px;
    
}

.pro-details-img{
    text-align: center;
}
 .pro-details-img .img-responsive{
        max-width: 100%;
        height: auto;
        width: auto;
     display: inline-block;
    }
.required_contact{
    border: 1px solid #ec1313 !important;
}


.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 90px 0 0;
    font-size: 20px;
    filter: alpha(opacity=0);
}
:focus{
    outline: none !important;
}



#uploadFile{
    border-color: #a5a5a5;
    border-radius: 4px;
    color: #383838;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 500;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    width: 100%;
}
.cust-upload-btn{
    position: relative;
    max-width: 350px;
}

.cust-upload-btn .fileUpload{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #19309b;
    border: 1px solid #19309b;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}



.cust-upload-btn .fileUpload:hover{
    border: 1px solid #19309b; 
    background-color: #3952cb;
        

}
.regform-radio-btn-wrapper input[type="radio"]{
    margin-right: 5px;
}

.regform-radio-btn-wrapper label{
    margin-right: 10px;
}



.btn-tradie{
    background: #242424;
    border: medium none;
    border-radius: 3px;
    
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;
    outline: medium none;
    padding: 9px 12px;
    text-align: center;
    text-transform: uppercase;
    float: left;
}
.btn-tradie:hover{
    color: #fff;
    text-decoration: none;
    
}

.inner-page-container{
    min-height: 300px;
    
}


.modal-form-section .form-control {
    border-color: #a5a5a5;
    border-radius: 4px;
    box-shadow: 0 0 0 #fff;
    color: #383838;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 500;
}


.modal-form-section .form-control:focus {
    border: 1px solid #19309b;
}



.modal-form-section .btn-submit {
    background: #19309b none repeat scroll 0 0;
    border: 1px solid #19309b;
    border-radius: 20px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    padding: 7px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.modal-form-section .btn-submit:hover {
    background: #3952cb none repeat scroll 0 0;
    color: #fff;
}



.scrollToTop {
    width: 30px;
    height: 30px;
    padding: 0px;
    text-align: center;
    background: whiteSmoke;
    font-weight: bold;
    color: #3a3a3a;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 10px;
    display: none;
    background: url('arrow_up.png') no-repeat 0px 20px;
    font-size: 28px;
    text-align: center;
}
.scrollToTop i{
    color: #3a3a3a;
    
}
.scrollToTop:hover {
    text-decoration: none;
    color: #3a3a3a;
}


.contant-area{
    min-height: 400px;
}


/* Rating*/

.rating_ul {
    margin: 0;
    padding: 0;
}

.rating_li {
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
    color: #F0F0F0;
    text-shadow: 0 0 1px #666666;
    font-size: 20px;
}

.highlight,
.selected {
    color: #F4B30A;
    text-shadow: 0 0 1px #F48F0A;
}
.sp-tbl-wrapper.sp-tbl-package-details{
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sp-tbl-wrapper.sp-tbl-package-details:first-of-type{
    margin-top: 0;
}

.sp-tbl-wrapper.sp-tbl-package-details:last-of-type{
    border-bottom: none;
}

.sp-tbl-package-details p span:first-of-type{
    font-weight: normal;
}

.sp-tbl-package-details p span:last-of-type{
    font-weight: 600;
}

.sp-tbl-package-details p{
    margin-bottom: 0;
}

.sp-tbl-package-details p:nth-of-type(odd){
    background-color: #eee;
    padding: 5px;
}

.sp-tbl-package-details p:nth-of-type(even){
    padding: 5px;
}

.sp-tbl-package-details .sp-tbl-package-name{
    background-color: #8e1816 !important;
    
}

.sp-tbl-package-details .sp-tbl-package-name span{
    color:#fff !important;
    font-weight: 600 !important;
}


.container-min-height{
    min-height: 500px;
}


.social_icons {
    float: right;
    margin-top: 5px;
    width: 406px;
}
.fb_iframe_widget {top: 4px;}
.social_icons a {font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 20px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;}
.social_icons .fa {color:#fff;margin-right: 6px;}
.social_icons a.ss_twt:hover {background: #00a4d4;color: #fff;border: 1px solid #00a4d4;}
.social_icons a.ss_twt {background: #00baf4;border: 1px solid #00baf4;}
.social_icons a.ss_fcbk:hover {background: #486cb7;color: #fff;border: 1px solid #486cb7;}
.social_icons a.ss_fcbk {background: #3b5998;border: 1px solid #3b5998;}
.inner-page-container h3{
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0 10px;
    padding: 0 0 0 0;
    text-align: left;
    
}

.inner-page-container p{
    margin-bottom: 20px;
}

.inner-page-container a{
    color: #213dc6;
}
.inner-page-container  .acc-page-form h3{margin: 0 0 20px;  padding: 0 0 23px;}

.footer_nav li.active a{
    color:#3952cb;
}


.tf_no_service_found{
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    color: #19309B;
}

.ui-autocomplete { 
    max-height: 200px; 
    overflow-y:auto; 
    overflow-x: hidden;
}

.sidebar-data .logo img{
    width: 100%;
    height: 144px;
    max-width: none;
}

.pro-details-img .img-responsive{
    width: 100%;
    height: 220px;
}

/*--------------*/
.pluginLoginButtonLarge{
    width: 50px !important;
}
.g-signin2{
    float: left;
    margin-right: 5px;
}
.social_width{
    float: left;
    width: auto;
    padding: 2px 0;
    margin-top: -0px !important;
    /*background: #4a67b7;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b68b9+0,3c56a1+100 */
background: rgb(75,104,185); /* Old browsers */ /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(75,104,185,1) 0%,rgba(60,86,161,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(75,104,185,1) 0%,rgba(60,86,161,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b68b9', endColorstr='#3c56a1',GradientType=0 ); /* IE6-9 */

    height: 35px;
    overflow: hidden;
    border-radius: 3px;
}
.social_width:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#607fd6+0,607fd6+60,4864b2+100 */
background: rgb(96,127,214); /* Old browsers */ /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(96,127,214,1) 0%,rgba(96,127,214,1) 60%,rgba(72,100,178,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(96,127,214,1) 0%,rgba(96,127,214,1) 60%,rgba(72,100,178,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#607fd6', endColorstr='#4864b2',GradientType=0 ); /* IE6-9 */

}
._4z_b{
    height: 35px !important;
    margin-top: 0px !important;
}
#login{
    float: left;
    margin-right: 5px;
}
.acc-page-form{
    min-height: 350px;
}



.tf-product-cat-details img{
    max-width: 250px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}


.tf-modal .modal-content,
.tf-modal,
.tf-modal .modal-header{
    border-radius: 0 !important;
}


.tf-modal .modal-header{
   
    color: #fff;
    border-bottom: 3px solid rgb(30, 87, 195);
    padding-top: 16px;
    padding-bottom: 16px;
    background: rgb(30, 87, 195);
    background: -webkit-linear-gradient(30deg, rgb(30, 87, 195) 30%, rgb(67, 122, 227) 59%);
    background: -webkit-linear-gradient(330deg, rgb(30, 87, 195) 30%, rgb(67, 122, 227) 59%);
    background: linear-gradient(120deg, rgb(30, 87, 195) 30%, rgb(67, 122, 227) 59%);

}

.tf-modal .modal-header .modal-title{
    
}
.tf-modal .modal-content{
    box-shadow: 8px 8px 4px rgba(0,0,0,.4);
    border: 1px solid #222;
}

.tf-modal .modal-header .close{
    opacity: 1;
    text-shadow: none;
    font-size: 30px;
    margin-top: 2px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 28px;
    text-shadow: 1px 1px 1px #000;
}
.tf-modal .modal-header .close:hover{
    opacity: .6;
    
}



.tf-modal .modal-body{
    border-bottom: 4px solid rgb(67, 122, 227);
    background-image: url(../images/noisy.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
}

.modal-backdrop{
    opacity:0.7 !important;
}


.modal-inner-box{
    background-color: rgba(255,255,255,.8);
    padding: 10px 15px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.3);
    font-family: "Open Sans",sans-serif;
}

.sp-tbl-wrapper p{
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
}
.sp-tbl-wrapper p:last-of-type{
    border-bottom: none;
}

.tfTapToRating{
    text-align: left;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #333;
}
.tfTapToRating .fa{
    font-size: 18px;
}

.tfTapToRating span{
    margin-right: 6px;
}
/*by gobinda*/
.star{
    color: #ccc;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.star-checked{
    color: gold;
}

.star-checked2{
    color: gold;
}
/*end*/
.tfAverageRating .fa{
    color: #EDB323;
}


.tfAverageRating{
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    background-color: #eee;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}
.tfAverageRating .fa{
    font-size: 18px;
}

.tfAverageRating span{
    margin-right: 6px;
}

.tfUserRatingWrap{
    margin-top: 20px;
    max-height: 250px;
    overflow-y: auto;
}
.tfUserRatingWrap .tfUserRate{
    display: inline-block;
}

.tfUserRatingWrap .tfUserRate .fa{
    color: #EDB323;
    margin-right: 2px;
}

.tfUserRatingWrap p{
    font-size: 13px;
    line-height: 17px;
}

.tfUserRatingItem{
    margin-bottom: 10px;
}

.tfCommentForm{
    margin-top: 20px;
}

.tfFormNote{
    text-align: center;
    font-size: 14px;
    color: #1E57C3;
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
}



.Modal-Pop-Link-Apr:focus,
.Modal-Pop-Link-Apr {
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 15px;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    text-decoration: none;
}
.Modal-Pop-Link-Apr:hover {
    color: #e9a500;
    text-decoration: none;
}
.contant-area .search_container .form-group .btn-tradie{color: #fff;}
.ratingpopuptext{color: #19309b; padding: 10px 0px; font-family: "Open Sans",sans-serif; font-size: 14px; font-weight: 500;}
.commentbeforelogin{padding: 10px 0px 20px 0px; color: #555; font-family: "Open Sans",sans-serif; font-size: 14px; font-weight: 500; }
.commentbeforelogin a{text-decoration: underline; color: #e9a500;}
.fa-chevron-up:before {content: "\f077";}






