<div class="container login-form">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
           
           <form role="form">
			<fieldset>
				<h2>Please Sign In</h2>
				<hr class="colorgraph">
				<div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
				</div>
				<div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
				</div>
				<span class="button-checkbox">
                    <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
					
				</span>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
					</div>
<!--
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="" class="btn btn-lg btn-primary btn-block">Register</a>
                           <a href="" class="btn btn-link pull-right">Forgot Password?</a>
					</div>
-->
				</div>
			</fieldset>
		</form>
           
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
  	     $("#loginFrm").validate({
            rules:{
               
            },
         });
         
    });
</script>
