<div class="custom-modal-container-sec">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">View Message</h4>
    </div>
    <div class="modal-body" id="ModalBodySec">
        <button class="btn btn-outline btn-lg btn-block" type="button" id="ModalNotify" style="display:none;"></button>
        <div class="modal-form-section">
            <div class="row">
                <div class="col-md-12">
                    <div class="sp-tbl-wrapper">   

                  


                           <!--  <p><strong>Date:</strong> 05-05-2017</p> -->
                            
                            <p>
                           <?php echo $row[0]->message;?>
                            
                            
                            
<!--                            Name:&nbsp;</span><span><?php echo $row[0]->message;?>-->
                            </p>  
                            
                          
                            

                           

          
                              
                            
                    </div>
                    
                    
                </div>
                
            </div>                      
        </div>
    </div>
</div>
