/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    
    background-color: #f8f8f8;
    background-image: url(../images/admin-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

.copy_site{
    margin-top: 10px;
    margin-bottom: 10px;
}


.login-heading{
    font-size: 38px;
    color: #fff;
    font-family: 'Timmana', sans-serif;
    text-align: center;
    margin-top: 10%;
    text-shadow: -3px 3px 5px rgba(0,0,0,.5);
    line-height: 38px;
    margin-bottom: 0;
}



.login-icon{
    font-size: 60px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    margin-top: 10px;
    text-shadow: -3px 3px 5px rgba(0,0,0,.5);
}


.login-panel.panel{
    box-shadow: -8px 8px 2px rgba(0,0,0,.2);
    background-color: rgba(255,255,255,.7);
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.login-panel.panel:hover{
    box-shadow: -8px 8px 2px rgba(0,0,0,.5);
    
    
}
.login-panel .panel-heading{
    background-color: rgba(0,108,250,.7);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    
    font-family: "Open Sans", sans-serif;
    
}

.login-panel h3.panel-title{
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}


.login-panel .form-group label{
    color: #424242;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.login-panel .form-control{
    background-color: rgba(255,255,255,.3);
    color: #424242;
    border: 1px solid #fff;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.login-panel .form-control:focus{
    border: 1px solid rgba(0,108,250,1);
    box-shadow: -2px 2px 3px rgba(0,108,250,.8);
}


.login-panel .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #424242;
  opacity: .7;
}
.login-panel .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #424242;
  opacity: .7;
}
.login-panel .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #424242;
  opacity: .7;
}
.login-panel .form-control:-moz-placeholder { /* Firefox 18- */
  color: #424242;
  opacity: .7;
}


#loginFrm .error.validatorError,
.login-panel .error{
    color: #ff0000;
    font-size: 13px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

#loginFrm .btn.btn-success{
    background-color: rgba(90,183,0,.6);
    margin-top: 30px;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    border-color: rgba(90,183,0,.6);
}

#loginFrm .btn.btn-success:hover{
    background-color: rgba(90,183,0,.9);
    border-color: rgba(90,183,0,.9);
    box-shadow: -2px 2px 3px rgba(90,183,0,.6);
}




/*font-family: 'Oswald', sans-serif;
   font-family: 'Timmana', sans-serif;
*/


@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border: none;
    margin-bottom: 4px;
    border-radius: 10px;
    overflow:hidden;
}


.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 67px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 7%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, .5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.error {
    color: #ff4444;
    padding: 5px;
    font-weight: normal;
}

.inactive_fa_fa {
    color: #FF0000;
    cursor: pointer;
}

.active_fa_fa {
    cursor: pointer;
}

.edit_fa_fa {
    cursor: pointer;
}

.drop-down-top {
    margin: 7px;
}

.admin_title {
    color: #FFF !important;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.page_title {
    font-size: 18px;
    color: #FF7E3F;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.drop-down-top>ul>li {
    border-bottom: 1px solid #FFF;
}

.header-togl-btn {
    background-color: #2a3f54 !important;
    border-color: #2a3f54 !important;
}

.header-togl-btn:hover {
    background-color: #dedede !important;
    border-color: #dedede !important;
}

.status_icon {
    width: 20px;
    margin: 1px;
}

.list_back_btn {
    float: right;
    bottom: 0px;
    left: 0px;
    clear: both;
    top: -63px;
}

.list_back_btn a {
    float: right;
    bottom: 0px;
    clear: both;
}

.modal-image-container {
    float: right;
    margin-right: 26%;
}

.modal-header .close {
    color: #DA6927;
    opacity: 1;
    font-size: 26px;
}

.modal-header {
    border-bottom: 1px solid #ef593b;
}

.add_btn {
    float: right;
    bottom: 0px;
    left: 0px;
    clear: both;
    top: -68px;
}

.add_btn a {
    float: right;
    bottom: 0px;
    clear: both;
}

#pop-content {
    min-height: 200px;
}

.cancel {
    margin-left: 20px!important;
}

.big-logo {
    font-size: 100px;
    font-weight: bold;
    width: 100%;
    margin: 200px 0;
    text-align: center;
    color: #FB8A11;
}

.api-logo {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    color: #FB8A11;
    border-bottom: 3px solid #FB8A11;
}

.api-contain {
    margin: 2px 10px;
}

.api-table {
    margin: 20px 0;
}

.api-table table {
    width: 100%;
}

.api-table table tr th {
    background-color: #d9d9d9;
}

.api-table table tr td,
th {
    padding: 10px;
    text-align: center;
}

.api-table table tr:nth-child(odd) {
    background-color: #ebebeb;
}


/*#dataTablesApnd tr:nth-child(odd){background: #B2F7BB none repeat scroll 0 0 !important;}*/


/*#dataTablesApnd>tbody .odd{background: #aebfe4 none repeat scroll 0 0 !important;}
#dataTablesApnd>tbody .even{background: #EDDBD5 none repeat scroll 0 0 !important;}*/

#dataTablesApnd tr td,
th {
    text-align: center;
}

#dataTablesApnd tr th {
    background: rgb(135,224,253); 
    background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); 
    background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
    color: #fff;
}

#dataTablesApnd tr:nth-child(odd) {
    background-color: #ebebeb;
}

.thumb_fixed_height {
    height: 180px !important
}

.thumb_fixed_height .img-responsive {
    height: 160px !important;
    border: none !important;
}

.delete_img {
    width: 16px;
    position: absolute;
    display: none;
    left: 47px;
    top: 75px
}

.image_default_status {
    width: 16px;
    position: absolute;
    display: none;
    right: 47px;
    top: 75px
}

.image_default_status img {
    width: 16px;
}

.delete_img img {
    width: 16px;
}

.thumb_fixed_height .img-responsive:hover {
    opacity: .3;
}

.thumb_fixed_height:hover > span {
    display: inline;
}

.notify_error {
    color: #ff0000;
}

.notify_succes {
    color: #39ca0b;
}

.validatorError {
    margin-bottom: 0px;
    padding: 0px;
    padding-left: 3px;
}

input.validatorError {
    padding-left: 12px;
}


/*---Aug 18 2016 (by Ak dev)---*/

.left-side-ul-sec {
}

.left-side-ul-sec>li>a {
   
    
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f6c13e, endColorstr=#d19400);
    
    color: #fff;
    border:none;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.nav-second-level .active {
    color: #2a3f54;
}

.nav-second-level>li>a {
    color: #FFF;
}

.nav-second-level .left-sidebar-sub:hover {
    background: #4888C9 none repeat scroll 0 0 !important;
}

.nav-second-level .left-sidebar-sub:hover {
    color: #FFF;
}

.left-sidebar-parent a:focus {
   background: rgb(135,224,253); 
   background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); 
   background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
   color: #fff;
   border:none;
}


.left-side-ul-sec .active .nav-group-li-sec {
   background: rgb(); 
   
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='',GradientType=0 );
   color: ;
   border:none;
}




.navbar-default.sidebar {
    border-color: #1792AA !important;
}

.left-side-ul-sec .nav-group-li-sec:hover {
    background: rgb(); 
    background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); 
    background: linear-gradient(to bottom, rgba() 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='',GradientType=0 );
    color: ;
    border-color: rgba(5,171,224,1);
}

.navbar-static-top {
    background-color: #fff !important;
    color: #ffffff;
    box-shadow: 0px 6px 7px #e2e2e2;
}

.page-header {
    border-bottom: 1px solid #8E1816;
    color: #8E1816;
}

.btn-bg-change {
    background: rgb(135,224,253); 
    background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); 
    background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
    color: #fff;
    border:none;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-bg-change:hover {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8eb7f9+0,1086ed+100 */
background: rgb(142,183,249); /* Old browsers */ /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(142,183,249,1) 0%,rgba(16,134,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(142,183,249,1) 0%,rgba(16,134,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb7f9', endColorstr='#1086ed',GradientType=0 ); /* IE6-9 */
    color: #fff;
    border: none;
}



.login-btn-clr:hover {
    background: #2ab4ae none repeat scroll 0 0;
    border-color: ;
}
.payment_list_btn {
    float: right;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.payment_list_btn a {
    float: left;
    margin-left: 10px;
    margin-top: -8px;
}

.page-header {
    padding-bottom: 16px;
}

.form-group img {
    width: 100px;
    height: 100px;
    border: solid 1px #ccc;
}

.modal-content,
.tf-modal,
.tf-modal .modal-header {
    border-radius: 0 !important;
}

.modal-header {
    background: rgb(135,224,253); 
    background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); 
    background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
    color: #fff;
    border-bottom: 3px solid rgba(5,171,224,1);
    color: #fff;
    padding-bottom: 16px;
    padding-top: 16px;
}

.modal-header .modal-title {}

.modal-content {
    border: 1px solid #222;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
}

.modal-header .close {
    color: #fff;
    font-size: 28px;
    margin-top: 2px;
    opacity: 1;
    position: absolute;
    right: 10px;
    text-shadow: 1px 1px 1px #000;
    top: 10px;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.modal-header .close:hover {
    opacity: 0.6;
}

.modal-body {
    background-image: url("../images/noisy.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid rgba(5,171,224,1);
}

.modal-backdrop {
    opacity: 0.7 !important;
}

.modal-inner-box {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
}

.tfModalTable p {
    margin-bottom: 5px !important;
    line-height: 18px;
    font-size: 14px;
}

.tfModalTable label {
    margin-bottom: 0;
}

.tfModalTable tr td:first-of-type {
    width: 20%;
}

.tfModalTable tr:nth-of-type(odd) {}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 64px;
    line-height: 20px;
    padding: 0px 16px;
}
.navbar-brand img{max-width: 100%; max-height: 100%;}

.navbar-default{
    background-color: transparent;
}


#btn-append-to-single-button{
    margin-top: 6px;
}

.header-togl-btn:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: rgb(125,126,125); /* Old browsers */ /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
border-color: rgba(14,14,14,1) !important;
}

@media(max-width:900px) {
    .header_payment_list span {
        padding: 0px !important;
    }
}

.header_payment_list span {
    padding: 4px 12px;
    color: #fff;
    border: 1px solid #f1f1f1;
    text-align: center;
    margin-right: 10px;
    background: #ef593b;
    font-weight: 500;
}

.form_group_inner .control-label {
    font-weight: 600;
}

.form_group_inner .input_gender {
    margin-left: 10px;
    margin-right: 5px;
}

.form_group_inner label {
    font-weight: 500;
}

.with-loader {
    position: relative;
}

.with-loader .input-loader {
    position: absolute;
    top: 6px;
    right: 8px;
}

.copy_site {
    position: relative;
    text-align: center;
    bottom: 0px;
    line-height: 25px;
    color: #fff;
}

#dataTablesApndGridView tr td,
th {
    text-align: center;
}

#dataTablesApndGridView tr th {
    background: #ef593b none repeat scroll 0 0;
    color: #FFF;
}


/*#dataTablesApndGridView tr:nth-child(odd){background-color: #ebebeb;}*/

#dataTablesApndGridView .tr-schedulegrid .even {
    background-color: #F2E8E3 !important;
}

#dataTablesApndGridView tr td {
    border: 1px solid #FFFFFF;
}

#dataTablesApndGridView .tr-schedulegrid {
    background: #EAC7AF
}

#dataTablesApndGridView .tr-levelgrid {
    background: #EF9377 !important;
}

#DataVwStudentPaymentTable tr td,
th {
    text-align: center;
}

#DataVwStudentPaymentTable tr th {
    background: #ef593b none repeat scroll 0 0;
    color: #FFF;
}

#DataVwStudentPaymentTable .tr-schedulegrid .even {
    background-color: #F2E8E3 !important;
}

#DataVwStudentPaymentTable tr td {
    border: 1px solid #FFFFFF;
}

#DataVwStudentPaymentTable .tr-schedulegrid {
    background: #EAC7AF
}

#DataVwStudentPaymentTable .tr-levelgrid {
    background: #EF9377 !important;
}

.grid-view-search {
    margin-bottom: 10px;
    margin-left: -20px;
}

.grid-view-heading {
    text-align: center;
    color: #F24121 !important;
    font-size: medium;
}

.addmore-sale-billable-item {
    cursor: pointer;
    color: #ef593b;
}

.addmore-sale-billable-item:hover {
    color: #F23210;
}

.minus-sale-billable-item:hover {
    color: #F23210;
    cursor: pointer;
}

.modal-invoice-generate-content {
    margin-bottom: 12px;
}

.modal-invoice-generate-content span {
    margin-right: 5px;
}

.billableItemSearchForm {
    margin-top: -9px;
}

.sng-multi-tab-cont {
    float: left;
    margin-bottom: 15px;
}

.sng-multi-tab-cont button {
    margin-right: 20px;
    background-color: #E58777;
    border-color: #E58777;
}

.sng-multi-tab-cont .Vw-bill-item:hover {
    color: #000;
}

.sng-multi-tab-cont .Vw-student-payment:hover {
    color: #000;
}

.sng-multi-tab-cont .active-all-payment {
    background-color: #ef593b;
    border-color: #ef593b;
    color: #FFF;
}

.sng-multi-tab-cont .active-all-payment:hover {
    color: #09163F;
}

.panel-heading .table-heading-amount {
    color: #ef593b;
    float: right;
    font-size: larger;
}

.header-btn {
    float: right;
    margin-top: -8px;
}

.bootstrap-timepicker-widget .bootstrap-timepicker-hour {
    border: none;
    outline: none;
    border: 1px solid #ddd;
    height: 34px;
    width: 34px;
    text-align: center;
    vertical-align: middle;
}

.bootstrap-timepicker-widget .bootstrap-timepicker-minute {
    border: none;
    outline: none;
    border: 1px solid #ddd;
    height: 34px;
    width: 34px;
    text-align: center;
    vertical-align: middle;
}

.timepicker-orient-bottom {
    z-index: 999999;
    min-width: 112px;
}

.bootstrap-timepicker-widget table td a {
    padding: 1px 0px !important;
}

.navbar.navbar-default.navbar-static-top {
    border-bottom: none;
}

.navbar-brand.admin_title img {
    background-color: transparent!important;
}

.tb-tbl-wrapper img {
    float: right;
    max-width: 180px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
    height: auto;
}

.tb-tbl-wrapper .tb-label {
    font-weight: bold;
    margin-right: 4px;
    color: #8E1816;
}

#dataTablesApnd > thead > tr > th {
    vertical-align: middle;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    
    background: rgb(135,224,253); 
    background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); 
    background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
    color: #fff;
}

.pagination .prev a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination > li > a,
.pagination > li > span {
    color: #8E1816;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #8E1816;
}

.paginatorcls {
    text-align: right;
}
.order_field{width: 50px; text-align: center;}
.Update-Order-Btn{border: none; outline: none; background-image: -webkit-linear-gradient(top, #f6c13e 0%, #d19400 100%); background-image: linear-gradient(to bottom, #f6c13e 0%, #d19400 100%); color: #fff; font-size: 13px; font-weight: 600; text-align: center; padding: 5px 14px; margin-left: 10px; border-radius: 4px;}





@media (max-width:767px) {
    .tb-tbl-wrapper img {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .pagination > li > a,
    .pagination > li > span {
        padding: 5px 7px;
        font-size: 12px;
    }
    #dataTablesApnd_wrapper {
        width: 100%;
    }
}


/*-----------------03-05-2017 Front end login--------------------*/


/*.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.login-form form{
    margin-top: 20%;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    background-color: #fff;
}


body{
    background:none;
    background-color: #eee;
}


.login-form form h2{
    text-align: center;
    font-size: 24px;
}


.login-form .btn.btn-link{
    color: #424242;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.login-form .btn.btn-link:hover{
    color: #669AE1;
    text-decoration: none;
}

.copy_site{
    color: #424242;
}

.login-form  .form-control{
    border: 1px solid #999;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    height: 40px;
    font-size: 14px;
}

.login-form  .form-control:focus{
    border-color: #669AE1;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}



.login-form .btn-success{
    padding: 6px 30px 6px 30px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    display: inline-block;

}*/