/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #2db0ca;
}

.sidebar ul li a.active {
    background-color: #1d9bd1;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
.error{
  color:#ff4444;
  padding: 5px;
  font-weight:normal;
}
.inactive_fa_fa{
  color: #FF0000;
  cursor: pointer;
}
.active_fa_fa{
  cursor: pointer;
}
.edit_fa_fa{
  cursor: pointer;
}
.drop-down-top{margin: 7px;}
.admin_title{color: #FFF !important; font-size: 30px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: bold;}
.page_title{font-size: 18px;color: #FF7E3F;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.drop-down-top>ul>li{border-bottom: 1px solid #FFF;}
.header-togl-btn{background-color: #2a3f54 !important; border-color: #2a3f54 !important;}
.header-togl-btn:hover{background-color: #dedede !important; border-color: #dedede !important;}

.status_icon{width:20px;margin: 1px;}
.list_back_btn{ float: right;bottom: 0px;left: 0px;clear: both;top: -63px;}
.list_back_btn a{float: right;bottom: 0px;clear:both;}
.modal-image-container{float: right; margin-right: 26%;}
.modal-header .close {color: #DA6927;opacity: 1; font-size: 26px;}
.modal-header{border-bottom:1px solid #ef593b;}
.add_btn{ float: right;bottom: 0px;left: 0px;clear: both;top: -68px;}
.add_btn a{float: right;bottom: 0px;clear:both;}
#pop-content{min-height:200px;}
.cancel{margin-left:20px!important;}
.big-logo{font-size: 100px;font-weight:bold;width:100%;margin:200px 0;text-align:center;color:#FB8A11;}
.api-logo{font-size: 30px;font-weight:bold;width:100%;text-align:left;color:#FB8A11;border-bottom: 3px solid #FB8A11;}
.api-contain{margin:2px 10px;}
.api-table{margin:20px 0;}
.api-table table{width:100%;}
.api-table table tr th{background-color: #d9d9d9;}
.api-table table tr td,th{padding:10px;text-align: center;}
.api-table table tr:nth-child(odd){background-color: #ebebeb;}

/*#dataTablesApnd tr:nth-child(odd){background: #B2F7BB none repeat scroll 0 0 !important;}*/
/*#dataTablesApnd>tbody .odd{background: #aebfe4 none repeat scroll 0 0 !important;}
#dataTablesApnd>tbody .even{background: #EDDBD5 none repeat scroll 0 0 !important;}*/
#dataTablesApnd tr td,th{text-align: center;}


#dataTablesApnd tr th{background: #8E1816 none repeat scroll 0 0; color: #FFF;}



#dataTablesApnd tr:nth-child(odd){background-color: #ebebeb;}

.thumb_fixed_height{height:180px !important}
.thumb_fixed_height .img-responsive{height:160px !important;border:none !important;}
.delete_img{width:16px;position: absolute;display:none;left: 47px;top: 75px}
.image_default_status{width:16px;position: absolute;display:none; right: 47px;top: 75px}
.image_default_status img{width:16px;}
.delete_img img{width:16px;}
.thumb_fixed_height .img-responsive:hover{opacity:.3;}
.thumb_fixed_height:hover > span {display:inline;}
.notify_error{color:#ff0000;}
.notify_succes{color:#39ca0b;}
.validatorError{margin-bottom:0px;padding:0px; padding-left:3px;}
input.validatorError{padding-left:12px;}
/*---Aug 18 2016 (by Ak dev)---*/


.left-side-ul-sec{background: #1792AA none repeat scroll 0 0;}


.left-side-ul-sec>li>a{color: #fff;}
.nav-second-level .active{color:#2a3f54;}
.nav-second-level>li>a{color:#FFF;}
.nav-second-level .left-sidebar-sub:hover{background:#4888C9 none repeat scroll 0 0 !important;}
.nav-second-level .left-sidebar-sub:hover{color:#FFF;}
.left-sidebar-parent a:focus{background:#4888C9 !important;color:#fff;s}
.left-side-ul-sec .active .nav-group-li-sec{background:#1D9BD1 none repeat scroll 0 0 !important;}


.navbar-default.sidebar{
    border-color: #1792AA !important;
}

.left-side-ul-sec .nav-group-li-sec:hover{background:#1d9bd1 none repeat scroll 0 0 !important;}


.navbar-static-top{background:#8E1816 none repeat scroll 0 0 !important;}


.page-header{border-bottom: 1px solid #8E1816; color: #8E1816;}
.btn-bg-change{background: #8E1816 none repeat scroll 0 0; border-color:#8E1816; transition: all 300ms ease-in-out;}
.btn-bg-change:hover{background: #a9201e none repeat scroll 0 0; border-color:#a9201e;}
.login-btn-clr{background:#ef593b none repeat scroll 0 0 !important;border-color:#ef593b;}
.login-btn-clr:hover{background:#ef593b none repeat scroll 0 0;border-color:#ef593b;}
.sidebar ul li.dashboard-home a.active{background: #2a3f54;}
.payment_list_btn{float: right; display: inline-flex;}
.payment_list_btn a{float: left; margin-left: 10px; margin-top:-8px;}
.page-header{padding-bottom: 16px;}

.form-group img{width:100px; height:100px; border:solid 1px #ccc;}


@media(max-width:900px){
    .header_payment_list span{padding: 0px !important;}
}
.header_payment_list span{padding: 4px 12px; color: #fff; border:1px solid #f1f1f1; text-align: center; margin-right: 10px; background: #ef593b; font-weight: 500; }
.form_group_inner .control-label{font-weight: 600;}
.form_group_inner .input_gender{margin-left: 10px; margin-right: 5px;}
.form_group_inner label{font-weight: 500;}
.with-loader{position: relative;}
.with-loader .input-loader{position: absolute;top: 6px;right: 8px;}
.copy_site{position: relative;text-align: center;bottom:0px;background-color:#1D9BD1;line-height: 25px; color: #fff;}

#dataTablesApndGridView tr td,th{text-align: center;}
#dataTablesApndGridView tr th{background: #ef593b none repeat scroll 0 0; color: #FFF;}
/*#dataTablesApndGridView tr:nth-child(odd){background-color: #ebebeb;}*/
#dataTablesApndGridView .tr-schedulegrid .even{background-color: #F2E8E3 !important;}
#dataTablesApndGridView tr td{border: 1px solid #FFFFFF;}
#dataTablesApndGridView .tr-schedulegrid{background: #EAC7AF}
#dataTablesApndGridView .tr-levelgrid{background: #EF9377 !important;}
#DataVwStudentPaymentTable tr td,th{text-align: center;}
#DataVwStudentPaymentTable tr th{background: #ef593b none repeat scroll 0 0; color: #FFF;}
#DataVwStudentPaymentTable .tr-schedulegrid .even{background-color: #F2E8E3 !important;}
#DataVwStudentPaymentTable tr td{border: 1px solid #FFFFFF;}
#DataVwStudentPaymentTable .tr-schedulegrid{background: #EAC7AF}
#DataVwStudentPaymentTable .tr-levelgrid{background: #EF9377 !important;}
.grid-view-search{margin-bottom: 10px; margin-left: -20px;}
.grid-view-heading{text-align: center;  color: #F24121 !important; font-size: medium;}
.addmore-sale-billable-item{cursor: pointer; color: #ef593b;}
.addmore-sale-billable-item:hover{color:#F23210;}
.minus-sale-billable-item:hover{color:#F23210;cursor: pointer;}
.modal-invoice-generate-content{margin-bottom: 12px;}
.modal-invoice-generate-content span{margin-right: 5px;}
.billableItemSearchForm{margin-top: -9px;}
.sng-multi-tab-cont{float:left;margin-bottom: 15px;}
.sng-multi-tab-cont button{margin-right:20px;background-color: #E58777;border-color:#E58777;}
.sng-multi-tab-cont .Vw-bill-item:hover{color:#000;}
.sng-multi-tab-cont .Vw-student-payment:hover{color:#000;}
.sng-multi-tab-cont .active-all-payment{background-color:#ef593b;border-color:#ef593b;color:#FFF;}
.sng-multi-tab-cont .active-all-payment:hover{color:#09163F;}
.panel-heading .table-heading-amount{color:#ef593b; float: right;font-size: larger;}
.header-btn{float:right;margin-top: -8px;}
.bootstrap-timepicker-widget .bootstrap-timepicker-hour{border:none; outline: none; border:1px solid #ddd;  height: 34px; width: 34px; text-align: center; vertical-align: middle;}
.bootstrap-timepicker-widget .bootstrap-timepicker-minute{border:none; outline: none; border:1px solid #ddd; height: 34px; width: 34px; text-align: center; vertical-align: middle;}
.timepicker-orient-bottom{z-index: 999999; min-width: 112px;}
.bootstrap-timepicker-widget table td a{padding:1px 0px !important;}

.navbar.navbar-default.navbar-static-top{
    border-bottom: none;
}


.navbar-brand.admin_title img{
    background-color: transparent!important;
    
}
