<style> 
.big-logo a{color: #ef593b;text-decoration: none; border:1px solid #F7EFED; background:#F7EFED; }
.big-logo a:hover{color: #ED6A3B;}  
</style>
<div class="big-logo">
    <a href="<?php echo $this->Url->build('/admin');?>" title="Click Here">Welcome Site</a>
</div>
